.wrapper {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
    gap: 30px;
  }

  @media (min-width: 1024px) {
    padding: 80px 0;
    gap: 40px;
  }
}

.scrollContainer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  display: flex;
  list-style: none;
  padding: 0 20px;
  margin: 0;
  width: max-content;
}

.card {
  flex: 0 0 85vw;
  scroll-snap-align: center;
  margin-right: 15px;
  border: 1px solid rgba(166, 59, 238, 0.3);
  border-radius: 24px;
  padding: 30px;
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    flex: 0 0 45vw;
    margin-right: 20px;
  }

  @media (min-width: 1024px) {
    flex: 0 0 460px;
    margin-right: 32px;
    padding: 40px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(72, 24, 63, 0.4) 20%,
      #820f84 50%,
      rgba(72, 24, 63, 0.4) 80%,
      transparent 100%
    );
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle at center top,
      rgba(200, 0, 255, 0.15),
      transparent 80%
    );

    pointer-events: none;
  }
}

.controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;

  span {
    line-height: 1;
  }

  &:hover {
    background: radial-gradient(circle at center top, rgba(200, 0, 255, 0.15));
    border-color: #820f84;
  }
}

.number {
  // color:#d200da;
  color: #bdae00;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.title {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
}

.description {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
}
