.section {
  padding: clamp(60px, 10vw, 80px) 0;
  
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 clamp(20px, 5vw, 80px);
  display: flex;
  flex-direction: column; 
  gap: 60px;

  

  @media (min-width: 1024px) {
    flex-direction: row; 
    align-items: flex-start;
    justify-content: space-between;
  }
}

.infoSide {
  flex: 1;
  max-width: 550px;
      color:#fff;


  .label {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    color:#808080;
    opacity: 0.8;
  }

  .title {
    font-family: var(--font-montserrat), sans-serif;
 font-size: clamp(32px, 5vw, 60px);
     line-height: 1.1;
    font-weight: 500;
    margin-bottom: 30px;

    i {
      font-family: var(--font-cormorant), italic;
      font-style: italic;
      font-weight: 500;
    display: inline-block; // дозволяє працювати падінгам
    padding-right: 0.15em; // додає місце для нахилу літери справа
    
    // background: linear-gradient(to right, #800080, #c864c8, #ffc0cb);
    
    
    // background: linear-gradient(to right, #6c046c, #b157b3, #ffc0cb);
    // background: linear-gradient(135deg, #FF9100 0%, #f34658 50%, #820f84 100%);
    background: linear-gradient(to right, rgb(128, 0, 128), rgb(200, 100, 200), rgb(255, 192, 203));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    }
  }

  .description {
    font-size: clamp(16px, 1.5vw, 18px);
   color:#808080;
    line-height: 1.6;
    margin-bottom: 10px;

     @media (min-width: 768px) {
          margin-bottom: 15px;

     }
     @media (min-width: 1024px) {
       margin-bottom: 40px;
     }
  }
}

// .button {
//   background-color: #8a4be1; 
//   color: #fff;
//   border: none;
//   padding: 18px 36px;
//   border-radius: 8px;
//   font-weight: 600;
//   cursor: pointer;
//   transition: transform 0.2s ease;

//   &:hover {
//     transform: translateY(-2px);
//   }
// }

.accordionSide {
  flex: 1.2;
  width: 100%;
}

.item {

  border-top: 1px solid rgba(199, 19, 249, 0.263);
  
  &:last-child {
  border-top: 1px solid rgba(199, 19, 249, 0.263);
  }
}

.summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(20px, 3vw, 35px) 0;
  cursor: pointer;

  &::-webkit-details-marker { display: none; }

  .question {
    font-size: clamp(18px, 2vw, 24px);
    font-weight: 400;
    max-width: 90%;
    color:#fff;
  }

  .icon {
    width: 24px;
    height: 24px;
    position: relative;
  
    
    &::after {
      content: '⌵';
      // color:#808080;
      color:#ffffff;
      font-weight: 600;
      font-size: 16px;
      display: block;
      transition: transform 0.3s ease;


       @media (min-width: 768px) {
         font-size: 20px;

     }
     @media (min-width: 1024px) {
      font-size: 24px;
     }
    }
  }
}

.item[open] .summary .icon::after {
  transform: rotate(180deg);
  color:#820f84;
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
  overflow: hidden;

  .inner {
    min-height: 0;
  }
}

.item[open] .content {
  grid-template-rows: 1fr;
}

.answer {
  padding-bottom: 30px;
  font-size: clamp(14px, 1.2vw, 16px);
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
}