


.linkBurger {
  position: relative;
 font-size: clamp(16px, 2vw, 20px);
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.3s ease;
  cursor: pointer;
  color:var(--color-main-white);

  &:hover,
  &:active {
    color: var(--main-light-hover, blue);

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: all 0.3s ease;
  }
}

@media (max-width: 744px) {
  .burger {
  position:static;
  top:0px;
  left:0px;
    width: 100%;
    height: 100vh;
    // background-color: var(--gray-color-hover);
    z-index: 1000;
    transition: all 0.3s ease-in;

    & > ul {
      display: flex;
      justify-content: center;
      align-items: center;
      color:white;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      gap: 20px;
    }

    .linkBurger {
      font-size: 28px;
      color: white;
    }
  }

  .none {
    display: none;
    
  }
.wrapperIcon {
  padding: 30px 25px  25px  25px;
  // display: flex;
  // justify-content: flex-start;
}
  .close {
    cursor: pointer;
   
    display: block;
  }

}
@media (min-width: 744px) {
  .burger {
    display: flex;
    // position: absolute;
    // width: auto;
    // height: auto;
    background-color: transparent;
    display: block !important;
    transform: none;

    & > ul {
      display: flex;
      flex-direction: row;
      gap: 30px;
      height: auto;
      padding: 0;
      margin: 0;
    }
  }

  .none {
    display: none;
  }
.wrapperIcon {
      display: none;

}
  .close {
    display: none;
  }
}
.menuList{
  color:var(--gray-color-hover);
}