
.linkBurger {
  position: relative;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.4px;
  transition: color 0.3s ease;
  cursor: pointer;
  color: var(--my-color-black, #000);

  &:hover,
  &:active {
    color: var(--main-color-dark, blue);

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: all 0.3s ease;
  }
}

@media (max-width: 744px) {
  .burger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--my-color-black, #000);
    z-index: 1000;
    transition: all 0.3s ease-in;

    & > ul {
      display: flex;
      justify-content: center;
      align-items: center;
      color: azure;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      gap: 20px;
    }

    .linkBurger {
      font-size: 28px;
      color: white;
    }
  }

  .none {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  .close {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
    display: block;
  }
}

@media (min-width: 744px) {
  .burger {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    display: block !important;
    transform: none;

    & > ul {
      display: flex;
      flex-direction: row;
      gap: 40px;
      height: auto;
      padding: 0;
      margin: 0;
    }
  }

  .none {
    display: block;
  }

  .close {
    display: none;
  }
}
