
.wrapper {
  position: relative;
  overflow-x: hidden;
  margin: 40px 0px;
  padding: 2rem 0;
  width: 100%;

  @media (min-width: 768px) {
    margin: 70px 0px;
  }
  @media (min-width: 1024px) {
    margin: 80px 0px;
  }
}

.gradient {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8rem;
  z-index: 20;
}

.gradientLeft {
  left: 0;
  background: linear-gradient(to right, var(--my-color-black) 0%, transparent 100%);
}

.gradientRight {
  right: 0;
  background: linear-gradient(to left, var(--my-color-black) 0%, transparent 100%);
}

.scroller {
  display: flex;
  width: max-content;
  gap: 3rem;
  animation: scroll 60s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  @media (min-width: 768px) {
    gap: 5rem;
    animation-duration: 50s;
  }
}

.techItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  opacity: 0.9;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

.icon {
  height: 32px;
  width: 32px;
}

.techName {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-main-white);
}

// @keyframes scroll {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(-50%);
//   }
// }
