.wrapper {
  position: relative;
  overflow-x: hidden;
  margin: 30px 0px;
  padding: 2rem 0;
  width: 100%;
 

  @media (min-width: 768px) {
     padding: 3rem 0;
    margin: 45px 0px;
  }
  @media (min-width: 1024px) {
     padding: 4rem 0;
    margin: 0px 0px 100px 0px;
  }
}
.titleMain {
  font-family: var(--font-cardo), sans-serif;
  font-size: clamp(30px, 4.5vw, 52px);
  line-height: 1.1;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px ;
  flex-wrap: wrap;
  line-height: 1.5;
  letter-spacing: 0.03em;
  gap: 10px;

  @media (min-width: 744px) {
    line-height: 140%;
margin-bottom: 60px; 
 }
  @media (min-width: 1024px) {
    margin-bottom: 100px ;
  }

  .accent {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;
    margin-right: 15px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
}
.gradient {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8rem;
  z-index: 20;
 
}

.gradientLeft {
  left: 0;
  background: linear-gradient(
    to right,
    var(--my-color-black) 0%,
    transparent 100%
  );
}

.gradientRight {
  right: 0;
  background: linear-gradient(
    to left,
    var(--my-color-black) 0%,
    transparent 100%
  );
}

.scroller {
  display: flex;
  width: max-content;
  gap: 3rem;
  animation: scroll 60s linear infinite;
    opacity: 0.9;

  &:hover {
    animation-play-state: paused;
  }

  @media (min-width: 768px) {
    gap: 5rem;
    animation-duration: 50s;
  }
}

.techItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  opacity: 0.9;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

.icon {
  height: 32px;
  width: 32px;
}

.techName {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--gray-text-color);
}

// @keyframes scroll {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(-50%);
//   }
// }
