


.wrapTeam {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding:40px 0px;
  // background-color: #000;
  //  background: radial-gradient(
  //   circle at 20% 20%, 
  //   #be06c4 0%, 
  //   #820f84  30%, 
  //   #000000 80%, 
  // );
    //  background: rgba(88, 17, 88, 0.47); 

  display: flex;
  align-items: center;
  justify-content: center;

 @media (min-width: 768px) {
    padding: 60px 0px;
  }

   @media (min-width: 1024px) {
    padding: 80px 0px;
  }

}

.marqueeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: rotate(-15deg) scale(1.6); 
  width: 120%; 
}

.marqueeInner {
  display: flex;
  gap: 20px;
  width: max-content;
  will-change: transform;
}

.fast { animation: scroll 60s linear infinite; }
.medium { animation: scroll 90s linear infinite; }
.slow { animation: scroll 220s linear infinite; }

.photoCard {
  flex-shrink: 0;
  width: 280px;
  aspect-ratio: 16 / 10;
  border-radius: 12px;
  overflow: hidden;
  padding: 4px;
  border: 1px solid rgba(202, 59, 238, 0.3);
  position: relative; 
  overflow: hidden; 
   
 &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    height: 4px; 
     background: linear-gradient(
  90deg,
  transparent 0%,        
  rgba(72, 24, 63, 0.4) 20%, 
  #820f84 50%,             
  rgba(72, 24, 63, 0.4) 80%, 
  transparent 100%        
);
      
    }
 &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px; 
       background: linear-gradient(
  90deg,
  transparent 0%,        
  rgba(72, 24, 63, 0.4) 20%, 
  #820f84 50%,             
  rgba(72, 24, 63, 0.4) 80%, 
  transparent 100%        
);
    }


  @media (max-width: 1024px) {
    width: 380px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

@keyframes scroll {
  from { transform: translateX(-33.33%); } 
  to { transform: translateX(0); }
}

@media (max-width: 1024px) {
  .marqueeContainer {
    transform: rotate(-15deg) scale(1.8);
    width: 150%;
  }
  .photoCard {
    width: 280px;
  }
}
