.marqueeWrapper {
  position: relative;
  width: 100%;
  z-index: 1; // Галерея буде під заголовком
  margin-top: 40px; // Додатковий простір
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapTeam {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    padding: 40px 0px;
  }

  @media (min-width: 1024px) {
    padding: 100px 0px;
  }
}

.title {
  position: relative;
  z-index: 2;
  font-family: var(--font-cardo), sans-serif;
  font-size: clamp(24px, 4.5vw, 62px);
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 10px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  @media (min-width: 744px) {
    line-height: 140%;
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 80px;
  }

  .accent {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}

.marqueeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: rotate(-15deg) scale(1.6);
  width: 120%;
}

.marqueeInner {
  display: flex;
  gap: 20px;
  width: max-content;
  will-change: transform;
}

.fast {
  animation: scroll 60s linear infinite;
}
.medium {
  animation: scroll 90s linear infinite;
}
.slow {
  animation: scroll 220s linear infinite;
}

.photoCard {
  flex-shrink: 0;
  width: 280px;
  aspect-ratio: 16 / 10;
  border-radius: 12px;
  overflow: hidden;
  padding: 4px;
  border: 1px solid rgba(202, 59, 238, 0.3);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    height: 4px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(72, 24, 63, 0.4) 20%,
      #820f84 50%,
      rgba(72, 24, 63, 0.4) 80%,
      transparent 100%
    );
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(72, 24, 63, 0.4) 20%,
      #820f84 50%,
      rgba(72, 24, 63, 0.4) 80%,
      transparent 100%
    );
  }

  @media (max-width: 1024px) {
    width: 380px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

@keyframes scroll {
  from {
    transform: translateX(-33.33%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .marqueeContainer {
    transform: rotate(-15deg) scale(1.8);
    width: 150%;
  }
  .photoCard {
    width: 280px;
  }
}
