
.list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.item {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  // background: rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  color: #e4e4e7;
  // background-color: transparent;
  // color: var(--color-main-white);
  // border: 1px solid var(--main-dark-hover);
  border: 1px solid rgba(166, 59, 238, 0.3);
  white-space: nowrap;
  transition: all 0.3s ease;
}

@media screen and (min-width: 425px) {
  .item {
    padding: 8px 18px;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .item {
    padding: 10px 22px;
    font-size: 16px;
  }
}

.portfolio {
  @media screen and (min-width: 1024px) {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 600;
  }

  @media screen and (min-width: 1440px) {
    padding: 10px 18px;
    font-size: 16px;
  }
}
