
.list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.item {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  color: #e4e4e7;
     background-color: rgba(166, 59, 238, 0.1);
     white-space: nowrap;
     transition: all 0.3s ease;
     border: 1px solid rgba(166, 59, 238, 0.3);

  &:hover {
    border-color: rgba(166, 59, 238, 0.6);
     box-shadow: 0 15px 35px rgba(186, 12, 230, 0.4);
    color: var(--color-main-white);
  }
}

@media screen and (min-width: 425px) {
  .item {
    padding: 8px 18px;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .item {
    padding: 10px 22px;
    font-size: 16px;
  }
}

.portfolio {
  @media screen and (min-width: 1024px) {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 600;
  }

  @media screen and (min-width: 1440px) {
    padding: 10px 18px;
    font-size: 16px;
  }
}
