.list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.item {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  border-radius: 100px;
// color: #e0e0e0;  
color: #bbb9b9;
  white-space: nowrap;
  transition: all 0.3s ease;
  position: relative;
  border: 1px solid transparent;
  border: 1px solid #560957;
  background-image:
    // linear-gradient(#000, #000),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    //  linear-gradient(90deg, #560957, #820f84);
  // background-origin: border-box;
  // background-clip: padding-box, border-box;
 

  &:hover {
    background-image:
      linear-gradient(#000, #000), linear-gradient(90deg, #c713f9, #74deed);
    box-shadow: 0 15px 35px rgba(199, 19, 249, 0.4);
    color: var(--color-white);
  }
}

.portfolio {
  @media screen and (min-width: 1024px) {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 600;
  }

  @media screen and (min-width: 1440px) {
    padding: 10px 18px;
    font-size: 16px;
  }
}
