// .list {
//   display: flex;
//   gap: 8px;
//   flex-wrap: wrap;
// }

// .item {
//   padding: 8px 18px;
//   color: var(--color-main-white);
//   background-color: transparent;
//   border-radius: 100px;
//   font-weight: 600;
//   border: 1px solid var(--main-color-light);
//   // background: linear-gradient(90deg, #7debf2, #60a4ff);
//   // background-color:transparent;
//   @media screen and (min-width: 768px) {
//     padding: 12px 28px;
//   }
// }

// .accent {
//   color: var(--main-color-dark);
// }
.list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.item {
  padding: 6px 14px;
  font-size: 14px;
  
  color: var(--color-main-white);
  background-color: transparent;
  border-radius: 100px;
  font-weight: 600;
  border: 1px solid var(--main-color-light);
  white-space: nowrap;
  transition: all 0.3s ease;
}

@media screen and (min-width: 425px) {
  .item {
    padding: 8px 18px;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .item {
    padding: 10px 22px;
    font-size: 16px;
  }
}

// @media screen and (min-width: 1400px) {
//   .item {
//     padding: 12px 28px;
//     font-size: 18px;
//   }
// }

.portfolio {
  @media screen and (min-width: 1024px) {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 600;
  }

  @media screen and (min-width: 1440px) {
    padding: 12px 22px;
    font-size: 16px;
  }
}
