.list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.item {
  color: #abaaaa;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  border-left: 2px solid;
  border-image: linear-gradient(to bottom, #d200da, #6de8f5) 1;
  border-radius: 0;
  padding: 4px 12px;
  backdrop-filter: blur(4px);
}

.portfolio {
  @media screen and (min-width: 1024px) {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 600;
  }

  @media screen and (min-width: 1440px) {
    padding: 10px 18px;
    font-size: 16px;
  }
}
