.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  visibility: hidden;
}

.is-open {
  transform: translateX(0);
  visibility: visible;
}

@media (max-width: 767.99px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--my-color-black);
  }

  .wrapperIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
  }
}

@media (min-width: 768px) {
  .navMenu {
    right: auto;
    margin: 0 auto;
    position: static;
    height: auto;
    transform: none;
    visibility: visible;
    display: block;
  }

  .wrapperIcon,
  .close {
    display: none;
  }
  .menuList {
    display: flex;
    font-size: clamp(14px, 2vw, 18px);
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    padding-left: auto;
    gap: 40px;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
