.navMenu {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-main-white);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  background-color: var(--my-color-black);
}


.linkBurger {
  position: relative;
  color: var(--color-main-white);
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 1.2;
  transition: color 0.3s ease;

  &:hover,
  &:active {
    color:var(--main-dark-hover);

    &::after {
      content: '';
      width: 100%;
    }
  }

  &:focus {
    color:var(--main-dark-hover);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--main-dark-hover);
    transition: all 0.3s ease;
  }
}

.is-open {
  transform: translateX(0);
  visibility: visible;
}

@media (max-width: 767.99px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wrapperIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
  }
}

@media (min-width: 768px) {
  .navMenu {
    right: auto;
    margin: 0 auto;
    position: static;
    height: auto;
    transform: none;
    visibility: visible;
    background-color: transparent;
    display: block;
  }

  .wrapperIcon,
  .close {
    display: none;
  }
  .menuList {
    font-size: 14px;
  }
  .menuList {
    display: flex;
    flex-direction: row;
    font-size: 14px;

    justify-content: flex-end;
    // color: white;
    padding-left: auto;
    gap: 10px;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1025px) {
  .menuList {
    font-size: 16px;

    gap: 20px;
  }
}
