.navMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  background-color: var(--my-color-black);
  // ____________________
  overflow-y: auto;
 
}

// .linkBurger {
//   position: relative;
//   font-size: 16px;
//   line-height: 1.2;
//   letter-spacing: 0.04;
//   transition: all 0.3s ease;
//   color: var(--color-white);
//   color:var(--second-blue-dark);
//    background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
//   -webkit-background-clip: text;
//   background-clip: text;
//   color: transparent;


//   &:hover,
//   &:active {
//     color: var(--fuchsia-accent-color);


//     &::after {
//       content: '';
//       width: 100%;
//     }
//   }

//   &:focus {
//  color: var(--fuchsia-accent-color);
//  }

//   &::after {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: 2px;
//     width: 0;
//       transition: all 0.3s ease;

//     background-color: var(--fuchsia-accent-color);
//         box-shadow: 0px 5px 10px rgba(130, 15, 132, 0.5);

//   }
//   @media (max-width: 767.99px) {
//     font-size: 18px;
//   }
// }
.linkBurger {
  position: relative;
  display: inline-block; 
  transition: color 0.3s ease;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04;
  transition: all 0.3s ease;
  // color: var(--color-white);
  color:var(--gray-text-color);

   

  &::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--fuchsia-accent-color);
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(72, 24, 63, 0.4) 20%,
      #820f84 50%,
      rgba(72, 24, 63, 0.4) 80%,
      transparent 100%
      );
      background: linear-gradient(90deg, #820f84 0%, #6de8f5 100%);
    // box-shadow: 0px 5px 10px rgba(130, 15, 132, 0.5);

   
    transform: scaleX(0);
    transform-origin: right; 
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    transform-origin: left; 
              background: linear-gradient(90deg, #820f84 0%, #6de8f5 100%);

  }
  &::after {
      content: '';
      width: 100%;
    }

  &:hover, 
  &:focus ,
  &.active { 
    color: var(--fuchsia-accent-color);

     
  


  }

   
   @media (min-width: 768px) {
    font-size: 16px;
  }
   @media (min-width:1024px) {
    font-size: 20px;
  }
}
.is-open {
  transform: translateX(0);
  visibility: visible;
}

@media (max-width: 767.99px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wrapperIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
  }
}

@media (min-width: 768px) {
  .navMenu {
    right: auto;
    margin: 0 auto;
    position: static;
    height: auto;
    transform: none;
    visibility: visible;
    background-color: transparent;
    display: block;
  }

  .wrapperIcon,
  .close {
    display: none;
  }
  .menuList {
    font-size: 14px;
  }
  .menuList {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: flex-end;
    padding-left: auto;
    gap: 20px;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1025px) {
  .menuList {
    font-size: 16px;
    gap: 25px;
  }
}
