.navMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  background-color: var(--my-color-black);
  overflow-y: auto;
}

.linkBurger {
  position: relative;
  // display: block;
  display: inline-block;
  transition: color 0.3s ease;
  font-size: 14px;
  padding:5px;
  line-height: 1.2;
  letter-spacing: 0.04;
  transition: all 0.3s ease;
  color: var(--gray-text-color);

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--fuchsia-accent-color);
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(72, 24, 63, 0.4) 20%,
      #820f84 50%,
      rgba(72, 24, 63, 0.4) 80%,
      transparent 100%
    );
    background: linear-gradient(90deg, #820f84 0%, #6de8f5 100%);
    // box-shadow: 0px 5px 10px rgba(130, 15, 132, 0.5);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    transform-origin: left;
    background: linear-gradient(90deg, #820f84 0%, #6de8f5 100%);
  }
  &::after {
    content: '';
    width: 100%;
  }

  &:hover,
  &:focus,
  &.active {
    color: var(--fuchsia-accent-color);
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
  // @media (min-width: 1024px) {
  //   font-size: 18px;
  // }
}
.is-open {
  transform: translateX(0);
  visibility: visible;
}

@media (max-width: 767.99px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wrapperIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
  }
}

@media (min-width: 768px) {
  .navMenu {
    right: auto;
    margin: 0 auto;
    position: static;
    height: auto;
    transform: none;
    visibility: visible;
    background-color: transparent;
    display: block;
  }

  .wrapperIcon,
  .close {
    display: none;
  }
  // .menuList {
  //   font-size: 14px;
  // }
  .menuList {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: flex-end;
    // padding-left: auto;
    gap: 10px;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1025px) {
  .menuList {
    padding-top: 10px;
padding-right: 50px;
    font-size: 16px;
    gap: 20px;
  }
}
