.header {
  z-index: 10;
   position: fixed;
  //  position: relative;
  width: 100%;
  top: 0;
    left: 0;
  max-width: 1560px;
  display: flex;
  background-color: #ffffff10; 
  backdrop-filter: blur(10px);
  // filter: blur(10px); 
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 28px 28px;
 
}

.burger {
  display: none;

  & > .imageBurger {
    width: 40px;
  }
}

.hidden {
  display: none;
  // display: none !important;
}
@media (min-width: 320px) and (max-width: calc(768px - 1px)) {
  .burger {
    display: block;
    margin-right: 20px;

    & > .imageBurger {
      width: 50px;
    }
  }

  .logoIcon {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 35px;
  }

  .mylogo {
    display: block;
    // width: auto;
  }

  .logoIcon {
    width: 64px;
    height: 64px;
  }

  .burger {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 35px 60px;
    gap: 45px;
  }

  .logoIcon {
    width: 80px;
    height: 80px;
  }
}
