.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 25px 20px;
  
  max-width: 1560px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.burger {
  display: none;

  & > .imageBurger {
    width: 40px;
  }
}

.hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: calc(768px - 1px)) {
  .burger {
    display: block;
    margin-right: 20px;

    & > .imageBurger {
      width: 50px;
    }
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 30px 35px 20px 35px;
  }

  .mylogo {
 
    display: flex;
     flex-direction: row;
    align-items: flex-start;
  }

  .logoIcon {
    width: 65px;
    height: 65px;
  }

  .burger {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 30px 40px 10px 40px;
    gap: 40px;
  }
  .mylogo {
    width: 30%;
  }

  .logoIcon {
    width: 68px;
    height: 68px;
    padding-bottom: 10px;
  }
}
.logoText {
  display: none;      
 

@media (min-width: 1024px) {
  display:block;
   font-family: var(--font-cardo), sans-serif; 
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  // color: var(--color-white);
  // color: var(--gray-text-color);
  background: linear-gradient(360deg, #d200da 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


}
