.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 25px 20px;
  border-bottom: 1px solid var(--purple-accent-dark) ;
  border: 1px solid rgba(199, 19, 249, 0.263);
  max-width: 1560px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.burger {
  display: none;

  & > .imageBurger {
    width: 40px;
  }
}

.hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: calc(768px - 1px)) {
  .burger {
    display: block;
    margin-right: 20px;

    & > .imageBurger {
      width: 50px;
    }
  }

  .logoIcon {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 25px 35px;
  }

  .mylogo {
    display: block;
    width: auto;
  }

  .logoIcon {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .burger {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 35px 60px;
    gap: 45px;
  }

  .logoIcon {
    width: 80px;
    height: 80px;
  }
}
