.header {
  width: 100%;
  position: relative;
  max-width: 1560px;
  margin: 0 auto;
  padding-block: 28px;
  background-color: var(--gray-color-hover);
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
  & > .imageBurger {
    width: 40px;
  }
}

@media (min-width: 320px) and (max-width: calc(768px - 1px)) {
  .burger {
    display: block;
    & > .imageBurger {
      width: 50px;
    }
  }
}
