.header {
  position: relative;
  width: 100%;
  max-width: 1560px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 28px 28px;
}

.burger {
  display: none;

  & > .imageBurger {
    width: 40px;
  }
}

.hidden {
  display: none !important;
}
@media (min-width: 320px) and (max-width: calc(768px - 1px)) {
  .burger {
    display: block;
    margin-right: 20px;

    & > .imageBurger {
      width: 50px;
    }
  }

  .logoIcon {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 35px 35px;
  }

  .mylogo {
    width: auto;
  }

  .logoIcon {
    width: 64px;
    height: 64px;
  }

  .burger {
    display: none;
  }
}
