.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'title'
    'item1'
    'item2'
    'item3'
    'item4';
  grid-gap: 32px;
  padding: 40px 25px 40px 25px;

  @media (min-width: 425px) {
    padding: 50px 35px 50px 35px;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'title item1'
      'item2 item3'
      'item4 .';
    padding: 60px 40px 40px 120px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'title title item1'
      'item2 item3 item4';
    padding: 80px 40px 80px 130px;
  }
}

.gridTitle {
  grid-area: title;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item {
  position: relative;

  z-index: 2;
  padding: 10px 15px;
  @media (min-width: 768px) {
    padding: 20px 15px;
  }
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-cardo), sans-serif;
  font-size: clamp(30px, 5vw, 60px);
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.5;
  color: var(--color-white, #fff);
  letter-spacing: 0.03em;
  flex-wrap: wrap;

  @media (min-width: 744px) {
    letter-spacing: 0.04em;
    margin-bottom: 40px;
  }
}

.accent {
  font-family: var(--font-cardo), serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.titleIcon {
  display: flex;
  align-items: flex-end;
  svg {
    width: 40px;
    height: 40px;

    @media (min-width: 768px) {
      width: 50px;
      height: 50px;
    }
  }
}
.name {
  font-family: var(--font-montserrat), serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-white, #fff);
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray-text-color, #ffffff99);
  min-height: 100px;

  @media (min-width: 768px) {
    max-width: 260px;
    font-size: 1.2rem;
  }
}
