
.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 110px 25px 40px 25px;
  box-sizing: border-box;

  @media (min-width: 425px) { 
    padding: 120px 35px 50px 35px; 
  }
  @media (min-width: 768px) {
     padding: 150px 55px 50px 55px;
     }
  @media (min-width: 1024px) {
     padding: 40px 60px 40px 60px; 
    }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.textBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-family: var(--font-cardo), sans-serif;
  font-size: clamp(24px, 4.5vw, 60px);
  font-weight: 600;
  color: var(--color-white);
  line-height: 1.5;
  letter-spacing: 0.04em;

  .accent {
    font-weight: 600;
    margin-right: 15px;
  }
}

.description {
  width: 100%;
  max-width: 600px;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 1.6;
  color: var(--color-main-white);
}

.socialWrapper {
  display: flex;
  gap: clamp(10px, 1.5vw + 5px, 12px);
  margin-top: auto;
  padding-top: 2rem;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background: rgba(120, 19, 134, 0.3);
  border: 1px solid rgba(217, 34, 241, 0.3);
  transition: all 0.3s ease;
  color: #fff;

  svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &:hover {
    background: rgba(165, 75, 225, 0.4);
    transform: translateY(-3px);
    border-color: #6de8f5;
  }

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
    svg {
      width: 28px;
      height: 28px;
    }
  }
}
// __________________________
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  gap: 2rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  z-index: 2;

  @media (min-width: 1024px) {
    max-width: 50%;
  }
}

// .imageBox {
//   width: 100%;
//   aspect-ratio: 1 / 1;
//   max-width: 300px;
//   margin: 0 auto;

//   background-image: url('/img/woman.png'); 
//   background-size: cover;
//   background-position: center;

//   -webkit-mask-image: url('/public/img/woman.png');
//   mask-image: url('/shape.svg');
//   -webkit-mask-repeat: no-repeat;
//   mask-repeat: no-repeat;
//   -webkit-mask-size: contain;
//   mask-size: contain;
//   -webkit-mask-position: center;
//   mask-position: center;

//   @media (min-width: 768px) {
//     max-width: 450px;
//   }

//   @media (min-width: 1024px) {
//     max-width: 500px;
//     margin: 0;
//   }
// }
.imageBox {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 320px;
  margin: 0 auto;
  position: relative;

 background-image: url('/img/woman.png'); 
   background-size: 120%;
  background-repeat: no-repeat;
  // background-position: center 15%; 
  background-position: -40% -55%;

  -webkit-mask-image: url('/img/woman.png');
  mask-image: url('/shape.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%; 
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;

  @media (min-width: 768px) {
    max-width: 500px;
    height: 500px;
  }

  @media (min-width: 1024px) {
    max-width: 950px;
    max-height: 950px;
    margin: 0;
  }
}