.flipCard {
  perspective: 1000px;
  max-width: 335px;
  height: 380px;
  display: block;
  flex-shrink: 0;
  text-decoration: none;
  border-radius: 20px;

  @media (min-width: 744px) {
    max-width: 320px;
    height: 515px;
  }
}
.flipInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.flipCard:hover .flipInner {
  transform: rotateY(180deg);
}

.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
}
.front {
  z-index: 2;
}
.back {
  transform: rotateY(180deg);
  z-index: 1;
}
.background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center top;
  border-radius: 20px;
}
.mobile {
  @media (min-width: 744px) {
    display: none;
  }
}
.desctop {
  display: none;
  @media (min-width: 744px) {
    display: block;
  }
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  pointer-events: none;
  opacity: 0.3;

  .flipCard:hover & {
    background-color: var(--gray-color-light, #f6f6f6);
  }
}
.wrapperRole {
  position: absolute;
  left: 12px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  background-color: var(--gray-color-dark, rgba(214, 222, 233, 1));
  opacity: 0.8;

  border-radius: 20px;
  transition: all 0.4s ease;
}

.role {
  margin-top: 15px;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  font-weight: 500;
  color: var(--dark-black-color, #000000);
}

.title {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 210px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  background-color: var(--gray-color-dark, rgba(214, 222, 233, 1));
  background-color: rgba(230, 210, 255, 0.8);

  opacity: 0.7;
  border-radius: 20px;
  transition: all 0.4s ease;

  @media (min-width: 744px) {
    width: 295px;
  }
}

.link {
  color: var(--my-color-black, #000000);
  text-decoration: none;
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  padding-right: 5px;
  align-items: center;
  justify-content: center;
  &:hover {
    color: rgba(179, 71, 181, 0.642);
  }
  @media (min-width: 744px) {
    top: 232px;
    bottom: auto;
    width: 100%;
    min-width: 320px;
    font-size: 18px;
    line-height: 50px;
  }
  @media (min-width: 1440px) {
    font-size: 24px;
  }
}

.back .title {
  @media (max-width: 743px) {
    top: 90px;
    bottom: auto;
  }
}
.wrapperDescription {
  margin-left: 12px;
  margin-top: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 295px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  background-color: var(--gray-color-dark, rgba(214, 222, 233, 1));
  opacity: 0.8;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.description {
  position: relative;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 295px;
  padding: 0 20px;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--dark-black-color, #000000);
  pointer-events: none;
  opacity: 1;

  @media (min-width: 768px) {
    width: 272px;
    padding: 0;
  }
}
