.flipCard {
  perspective: 1000px;
  max-width: 335px;
  height: 280px;
  display: block;
  flex-shrink: 0;
  text-decoration: none;

  @media (min-width: 744px) {
    max-width: 320px;
    height: 514px;
  }
}
.flipInner {
  position: relative;
  width: 100%;
  height: 100%;
  // text-align: center;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  border-radius: 8px;
}

.flipCard:hover .flipInner {
  transform: rotateY(180deg);
}
.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
}
.front {
  z-index: 2;
}
.back {
  transform: rotateY(180deg);
  z-index: 1;
}
.background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center top;
  border-radius: 8px;
}
.mobile {
  @media (min-width: 744px) {
    display: none;
  }
}
.desctop {
  display: none;
  @media (min-width: 744px) {
    display: block;
  }
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  pointer-events: none;

  .flipCard:hover & {
    background-color: var(--color-white);
    border: 2px solid var(--border-color-dark);
    box-shadow: 0 4px 6px 0 var(--shadow-color);
  }
}
.title {
  position: absolute;
  left: 50px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  background-color: var(--border-color-dark);
  border-radius: 8px;
  transition: all 0.4s ease;
  bottom: 20px;
}
a {
  color: var(--color-white);
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--hover-dark);
  }
  @media (min-width: 744px) {
    top: 232px;
    bottom: auto;
    width: 100%;
    min-width: 320px;
    font-size: 18px;
    line-height: 50px;
  }
  @media (min-width: 1440px) {
    font-size: 24px;
  }
}

.back .title {
  @media (max-width: 743px) {
    top: 90px;
    bottom: auto;
  }
}
.role {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.description {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  width: 295px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--my-color-black);
  pointer-events: none;
  opacity: 1;
  top: calc(90px + 40px + 26px);

  @media (min-width: 744px) {
    width: 272px;
    padding: 0;
    top: calc(232px + 50px + 46px);
  }
}
