.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dot {
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: -0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;

  transition-property: all;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: transparent;

  .container:hover & {
    background-color: var(--main-color-light);
  }

  .container:active & {
    background-color: var(--main-dark-hover);
  }
}
