.codeContent {
  width: 100%;
  height: 100%;

  mask-image: 
    linear-gradient(
      to right, 
      transparent 0%, 
      white 15%, 
      white 85%, 
      transparent 100% 
    ),

    linear-gradient(
      to bottom, 
      transparent 0%, 
      white 10%, 
      white 90%, 
      transparent 100% 
    );
  mask-composite: intersect; 
  -webkit-mask-composite: source-in; 
}

.animationBlock {
  position: relative;
  width: 95%;
  height: 200px;
  
  @media (min-width: 1024px) {
    height: 350px;
    width: 50%;
  }
 
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 54px;
  width: 100%;
  padding: 110px 25px 40px 25px;

 background-image:
    repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.06),
      rgba(0, 0, 0, 0.07) 3px,
      transparent 30px,
      transparent 80px
    ),
    linear-gradient(
      to right, 
      
      #2C1048 0%,
      #7102ba 10%,
      #08080d 50%,
      #000000 100%,      
    );
    
    //  #a341f2 0%,
    
  @media (min-width: 425px) {

    padding: 120px 35px 50px 35px;
  }
  @media (min-width: 768px) {

    padding: 150px 55px 50px 55px;
  }
  @media (min-width: 1024px) {

    padding: 210px 60px 70px 60px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: clamp(1.3rem, 2.5vw, 3.5rem);
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
   background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

   @media (min-width: 1024px) {
    width: 50%;
  }
}

.stack {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: var(--color-main-white);
}

.description {
  width: 100%;
   font-size: clamp(1rem, 1.5vw, 1.5rem);
   line-height: 1.6;
  color: var(--color-main-white);
}


.socialWrapper {
display: flex;
gap: clamp(20px, 1.5vw + 10px, 40px);
margin-top: clamp(5px, 8vw - 10px, 95px);

}



.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 20%;
  background: rgba(255, 255, 255, 0.05);
  color: var(--color-main-white);
  border: 1px solid rgba(165, 75, 225, 0.3); 
  transition: all 0.3s ease;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor; 

    @media (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
  }

  &:hover {
    background: rgba(165, 75, 225, 0.2);
    transform: translateY(-3px);
    border-color: #6de8f5; 
    box-shadow: 0 0 15px rgba(109, 232, 245, 0.3);
  }
   @media (min-width: 768px) {
     width: 55px;
     height: 55px;
  }
}
 
//  background: linear-gradient(135deg,  #00a3b6 25%, #eee5ff 50%, rgb(83, 195, 232, 1) 75%);
  // background-size: 400% 100%;
  // animation: shine 3s linear infinite;


// .downloadBtn {
//   display: flex;
// }

// .gitBlock {
//   display: flex;
//   justify-content: flex-end;
//   width: 100%;

//   @media (min-width: 1024px) {
//     width: 50%;
//   }
// }

// .gitLink {
//   display: flex;
//   align-items: flex-end;
//   width: 100%;
//   max-width: 540px;
// }
