.codeContent {
  width: 100%;
  height: 100%;

  mask-image: 
    linear-gradient(
      to right, 
      transparent 0%, 
      white 15%, 
      white 85%, 
      transparent 100% 
    ),

    linear-gradient(
      to bottom, 
      transparent 0%, 
      white 10%, 
      white 90%, 
      transparent 100% 
    );
  mask-composite: intersect; 
  -webkit-mask-composite: source-in; 
}

.animationBlock {
  position: relative;
  width: 95%;
  height: 300px;
  
  @media (min-width: 1024px) {
    height: 350px;
    width: 50%;
  }
 
}

.hero {
  display: flex;
  flex-direction: column;
   height: 100vh;
  gap: 54px;
  width: 100%;
  padding: 100px 20px 40px 20px;

 background-image:
    repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.06),
      rgba(0, 0, 0, 0.07) 3px,
      transparent 30px,
      transparent 80px
    ),
    linear-gradient(
      to right, 
      
      #2C1048 0%,
      #7102ba 10%,
      #08080d 50%,
      #000000 100%,      
    );
    
    //  #a341f2 0%,
    
  @media (min-width: 768px) {

    padding: 130px 25px 30px 25px;
  }
  @media (min-width: 1024px) {

    padding: 210px 60px 70px 60px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: clamp(1rem, 2.5vw, 3.5rem);
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
   background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

   @media (min-width: 1024px) {
    width: 50%;
  }
}

.stack {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: var(--color-main-white);
}

.description {
  width: 100%;
   font-size: clamp(1rem, 1.5vw, 1.5rem);
   line-height: 1.6;
  color: var(--color-main-white);
}

 



// .downloadBtn {
//   display: flex;
// }

// .gitBlock {
//   display: flex;
//   justify-content: flex-end;
//   width: 100%;

//   @media (min-width: 1024px) {
//     width: 50%;
//   }
// }

// .gitLink {
//   display: flex;
//   align-items: flex-end;
//   width: 100%;
//   max-width: 540px;
// }
