.animationBlock {
  position: relative;
  width: 100%;
  height: 300px; 
  z-index: 0;
}

.title {
  position: relative;
  z-index: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 100%;
  padding: 100px 30px 40px 30px;
  //  background: linear-gradient(90deg, #7debf2, #60a4ff);;

  @media (min-width: 768px) {
    padding: 100px 20px 30px 20px;
  }
  @media (min-width: 1024px) {
    padding: 140px 40px 40px 40px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
  color: white;
  
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 540px;
  width: 100%;
}

.stack {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: white;
}

.description {
  color: white;
}

.downloadBtn {
  display: flex;
}

.gitBlock {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.gitLink {
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 540px;
}
