.codeContent {
  width: 100%;
  height: 100%;

  mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      white 15%,
      white 85%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      white 10%,
      white 90%,
      transparent 100%
    );
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

.animationBlock {
  position: relative;
  width: 95%;
  height: 200px;

  @media (min-width: 1024px) {
    height: 350px;
    width: 50%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
     position:relative;

  gap: 54px;
  width: 100%;
  padding: 40px 25px 40px 25px;
    

  @media (min-width: 425px) {
    padding: 50px 35px 50px 35px;
  }
  @media (min-width: 768px) {
    padding: 50px 55px 50px 55px;
  }
  @media (min-width: 1024px) {
    padding: 20px 60px 70px 60px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}





.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  color: var(--gray-text-color);


  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
.titleMain {
  font-family: var(--font-cardo), sans-serif;
  font-size: clamp(30px, 4.5vw, 62px);
  line-height: 1.1;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.5;
  letter-spacing: 0.03em;
  gap: 10px;

  @media (min-width: 744px) {
    line-height: 140%;
    margin-bottom: 45px;
  }

  .accent {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;
    margin-right: 15px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
}


.textBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;   
  width: 100%;
  min-height: 400px;

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.quoteCard {
  width: 100%;
  max-width: 600px;          
  min-height: 320px;        
  border: 1px solid rgba(109, 6, 141, 0.516);

background: radial-gradient(circle at 0% 0%, rgba(211, 0, 218, 0.731) 0%, transparent 40%), 
 radial-gradient(circle at 100% 100%, rgba(229, 90, 242, 0.342) 0%, transparent 40%), 
 linear-gradient(135deg, #121214 0%, #050505 100%);




  border-radius: 24px;
  padding: 40px;             
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  transition: transform 0.3s ease;

 
}

.description {
  font-size: clamp(1.2rem, 1.9vw, 1.6rem); 
  line-height: 1.5;
  color: var(--gray-text-color-two, rgba(255, 255, 255, 0.7));
  margin-bottom: 20px;
  letter-spacing: 0.01em;
  font-style: italic;
  
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.author {
  font-size: 1rem;
  color: var(--gray-text-color-two, rgba(255, 255, 255, 0.7));
  text-align: right;
  opacity: 0.8;
   @media (min-width: 768px) {
      font-size: 1.2rem;

  }
}

.nextButton {
  align-self: flex-end;      
  margin-top: 30px;
  background: transparent;
  border: 1px solid rgba(109, 6, 141, 0.516);
 font-family: var(--font-montserrat);
  font-size: 0.9rem;
  
  color: var(--gray-text-color-two, rgba(255, 255, 255, 0.7));
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(200, 0, 255, 0.142);
    color:var(--color-white, #fff)
  }
}

.buttonText {
 
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  font-weight: 500;
}

// .decor{
//   position: absolute;
//   top: 15px;
//   left: -15px;
//   width: 150px;
//   height: 150px;
//   z-index: -1;
//    background-image: url('/ffuel.svg'); 
//   background-size: cover;       
//   background-position: start;
//   background-repeat: no-repeat;

//   @media (min-width: 768px) {
//      top: -3px;
//   left: -15px;
//     width: 250px;
//     height: 250px;
  
//   }
//   @media (min-width: 1024px) {
    
//     width: 300px;
//     height: 300px;
//   }
// }

// .stack {
//   font-size: 1.125rem;
//   font-weight: bold;
//   line-height: 1.25rem;
//   color: var(--color-main-white);
// }





.descriptionWrap {
   display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
 
 
}

