.codeContent {
  width: 100%;
  height: 100%;

  mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      white 15%,
      white 85%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      white 10%,
      white 90%,
      transparent 100%
    );
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

.animationBlock {
  position: relative;
  width: 95%;
  height: 200px;

  @media (min-width: 1024px) {
    height: 350px;
    width: 50%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  gap: 54px;
  width: 100%;
  padding: 110px 25px 40px 25px;

  


  @media (min-width: 425px) {
    padding: 50px 35px 50px 35px;
  }
  @media (min-width: 768px) {
    padding: 50px 55px 50px 55px;
  }
  @media (min-width: 1024px) {
    padding: 70px 60px 70px 60px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}




.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  color: var(--gray-text-color);

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.stack {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: var(--color-main-white);
}

.description {
  width: 100%;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 1.6;
  color: var(--gray-text-color);
}

.socialWrapper {
  display: flex;
  gap: clamp(20px, 1.5vw + 10px, 40px);
  margin-top: clamp(5px, 8vw - 10px, 95px);
}

.descriptionWrap {
   display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
 
}
.author {
  font-size: 0.8rem;
  opacity: 0.7;
  text-align: right;
  font-style: italic;
  margin-bottom: 4px;
}

.divider {
  height: 1px;
  margin-bottom: 25px;
  width: 100%;

}

// .socialLink {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 45px;
//   height: 45px;
//   border-radius: 20%;

//   background: rgba(120, 19, 134, 0.3);
//   color: var(--color-main-white);
//   border: 1px solid rgba(217, 34, 241, 0.3);
//   transition: all 0.3s ease;

//   svg {
//     width: 24px;
//     height: 24px;
//     fill: currentColor;

//     @media (min-width: 768px) {
//       width: 34px;
//       height: 34px;
//     }
//   }

//   &:hover {
//     background: rgba(165, 75, 225, 0.2);
//     transform: translateY(-3px);
//     border-color: #6de8f5;
//   }
//   @media (min-width: 768px) {
//     width: 55px;
//     height: 55px;
//   }
// }

// .pulsingHeart {
//   display: inline-block;
//   color: #ff4d4d;
//   animation: pulse 1.5s infinite;
// }

// @keyframes pulse {
//   0% { transform: scale(1); }
//   50% { transform: scale(1.3); }
//   100% { transform: scale(1); }
// }


//  background: linear-gradient(135deg,  #00a3b6 25%, #eee5ff 50%, rgb(83, 195, 232, 1) 75%);
// background-size: 400% 100%;
// animation: shine 3s linear infinite;
