.animationBlock {
  position: relative;
  width: 95%;
  height: 300px;

  @media (min-width: 1024px) {
    height: 350px;
    width: 50%;
  }
 
}


.hero {
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 100%;
  padding: 100px 20px 40px 20px;

  @media (min-width: 768px) {

    padding: 120px 25px 30px 25px;
  }
  @media (min-width: 1024px) {

    padding: 140px 60px 40px 60px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: clamp(1rem, 2.5vw, 3.5rem);
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

   @media (min-width: 1024px) {
    width: 50%;
  }
}

.stack {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: white;
}

.description {
  width: 100%;
   font-size: clamp(1rem, 1.5vw, 1.5rem);
   line-height: 1.6;
  color: white;
}

.downloadBtn {
  display: flex;
}

// .gitBlock {
//   display: flex;
//   justify-content: flex-end;
//   width: 100%;

//   @media (min-width: 1024px) {
//     width: 50%;
//   }
// }

// .gitLink {
//   display: flex;
//   align-items: flex-end;
//   width: 100%;
//   max-width: 540px;
// }
