@import 'tailwindcss';

:root {
  /* white color */
  --color-main-white: #f9f9f9;
  --color-white: #ffff;
  
  /* gray color */
  --gray-light: rgba(238, 239, 243, 1);
  --gray-dark: rgba(214, 222, 233, 1);
  --gray-color-light: #f6f6f6;
  --gray-color-dark: rgba(214, 222, 233, 1);
  --gray-color-border: rgba(252, 253, 255, 1);
  --gray-color-hover: #bcc4d4;

  /* black color */
  /* --dark-black-color:##0b1018; */
  /* --dark-black-color:#302C42; */
  --dark-black-color: #211e2e;
  --dark-black-color: #000000;
  /* --my-color-black: rgba(23, 23, 23, 1); */
  --my-color-black: rgb(0, 0, 0, 1);
  
  /* brand colors  */
  --color-blue-medium: #433d60;
  --color-blue-light: #8176af;
  --color-purple: #8f6ec5;
  --color-contrast:#6de8f5;
  --color-text-grey: #343045;
  --light-purple: #c0b7e8;
  --soft-blue: #433d60;

  --main-color-light: #00c3ff;
  --second-blue-dark: #60abff;
  --main-dark-hover: #a54be1;
  --purple-accent-dark: #6d03b4;
  /* --second-color-light: rgb(103, 207, 242); */
  /* --main-color-dark: rgba(10, 152, 198, 1); */
  /* --main-light-hover: #00c3ff; */
  /* --yellow-acsent: #fec423; */

  /* gradients colors */
  --gradient-color-border: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  --background-gradient-color: linear-gradient(
    135deg,
    #c048ff 0%,
    #6930c3 50%,
    #3d1d70 100%
  );

  /* body {
    background-image: radial-gradient(
      ellipse at center,
      #433d60 0%,
      #211e2e 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
  } */

  /* breakpoints */
  --breakpoints-xs: 320px;
  --breakpoints-sm: 375px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1440px;
  --breakpoints-xl: 1540px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

* {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
button,
select,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark-black-color);
   
}

.mycontainer {
  width: 100%; /* min-width: 375px; */
  padding-inline: 20px;
  margin-inline: auto;
}

@media screen and (min-width: 744px) {
  .mycontainer {
    padding-inline: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .mycontainer {
    max-width: 1440px;
    padding-inline: 70px;
  }
}

.responsive-heading {
  font-size: clamp(3rem, 7vw, 7rem);
  line-height: 1;
  min-height: 80px;
}
