@import 'tailwindcss';

:root {
  /* white color */
  --color-white: rgba(255, 255, 255, 0.8);
  --gray-light: rgba(238, 239, 243, 1);
  --gray-dark: rgba(214, 222, 233, 1);

  /* black color */
  --my-color-black: rgba(23, 23, 23, 1);
  --border-color-dark: rgba(45, 45, 45, 0.32);
  --hover-dark: rgba(45, 45, 45, 0.8);
  --shadow-color: rgba(45, 45, 45, 0.24);

  /* blue color */
  --main-color-light: rgba(10, 152, 198, 1);
  --main-color-dark: rgb(31, 111, 160);
  --main-light-hover: #00bed6;
  --main-dark-hover: #00a3b6;

  /* gray color */
  --gray-color-light: rgba(238, 239, 243, 1);
  --gray-color-dark: rgba(214, 222, 233, 1);
  --gray-color-border: rgba(252, 253, 255, 1);
  --gray-color-hover: #bcc4d4;

  /* breakpoints */
  --breakpoints-xs: 320px;
  --breakpoints-sm: 375px;
  --breakpoints-md: 744px;
  --breakpoints-lg: 1440px;
  --breakpoints-xl: 1540px;
}

/*      background: linear-gradient(180deg, #7e3b01 0%, #eacc93 54.29%, #1e0e00 100%);
 */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
button,
select,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Inter', 'Montserrat', sans-serif;
  line-height: 1.3;
  background: var(--color-white);
  color: var(--color-black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mycontainer {
  width: 375px;
  padding-inline: 20px;
  margin-inline: auto;
}

@media screen and (min-width: 744px) {
  .mycontainer {
    width: 744px;
    padding-inline: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .mycontainer {
    width: 1440px;
    padding-inline: 72px;
  }
}

.responsive-heading {
  font-size: clamp(3rem, 7vw, 7rem);
  line-height: 1;
  min-height: 80px;
}

.responsive-footer {
  font-size: clamp(3rem, 7vw, 7rem);
  line-height: 1;
  min-height: 80px;
}

.responsive-clock {
  font-size: clamp(1rem, 6vw, 3rem);
}
