@import 'tailwindcss';

:root {
  /* white color */
  --color-main-white: #f9f9f9;
  --color-white: rgba(255, 255, 255, 0.8);
  --gray-light: rgba(238, 239, 243, 1);
  --gray-dark: rgba(214, 222, 233, 1);

  /* black color */
  --dark-black-color:#000000;
  --my-color-black: rgba(23, 23, 23, 1);
  --border-color-dark: rgba(45, 45, 45, 0.32);
  --hover-dark: rgba(45, 45, 45, 0.8);
  --shadow-color: rgba(45, 45, 45, 0.24);

  /* blue color */
  --main-color-light:#00c3ff;
  --second-color-light: rgb(103, 207, 242);
  --main-color-dark: rgba(10, 152, 198, 1);
  --main-light-hover: #00c3ff;
  --main-dark-hover: #00a3b6;
  /* --yellow-acsent: #fec423; */

  /* gray color */
  --gray-color-light: rgba(238, 239, 243, 1);
  --gray-color-dark: rgba(214, 222, 233, 1);
  --gray-color-border: rgba(252, 253, 255, 1);
  --gray-color-hover: #bcc4d4;

  /* gradients */
--gradient-3: linear-gradient(
  to right,
  #B327BF 0%,
  #6666FF 48%,
  #00C09A 100%
);

  /* breakpoints */
  --breakpoints-xs: 320px;
  --breakpoints-sm: 375px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1440px;
  --breakpoints-xl: 1540px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
  scroll-behavior: smooth;
}

* {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
button,
select,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat','Inter',  sans-serif;
   /* background: var(--my-color-black);  */
   background: #0b1018; 
  /* color: var(--color-black);  */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mycontainer {
  width:  100%;
  /* min-width: 375px; */
  padding-inline: 20px;
  margin-inline: auto;
}

@media screen and (min-width: 744px) {
  .mycontainer {
    /* width: 744px; */
    padding-inline: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .mycontainer {
    max-width: 1440px;
    padding-inline: 70px;
  }
}

.responsive-heading {
  font-size: clamp(3rem, 7vw, 7rem);
  line-height: 1;
  min-height: 80px;
}

.responsive-footer {
  font-size: clamp(3rem, 7vw, 7rem);
  line-height: 1;
  min-height: 80px;
}

.responsive-clock {
  font-size: clamp(1rem, 6vw, 3rem);
}
