@import 'tailwindcss';

:root {
  /*  colors */
  --color-main-white: #f9f9f9;
  --color-white: #ffffff;
  
  --gray-color-dark: rgba(214, 222, 233, 1);
  --gray-text-color-two:rgba(255, 255, 255, 0.7);
  --gray-color-light: #f6f6f6;
  --gray-color-text-dark: #808080;
 --gray-text-color:#ffffff99;

  --dark-black-color: #000000;
  --my-color-black: #000000;

  --fuchsia-dark-color:#820f84;
  --fuchsia-accent-color:#d200da;
  --main-dark-hover: rgba(179, 71, 181, 0.642);

}



html {
  scroll-behavior: smooth;
}

* {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
button,
select,
textarea {
  font: inherit;
}


h1,
h2,
h3,
h4 {
  margin:0;
} 

body {
  font-family: 'Montserrat', 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-black-color, #000000);
   
}

.mycontainer {
  width: 100%; 
  padding-inline: 20px;
  margin-inline: auto;
}

@media screen and (min-width: 744px) {
  .mycontainer {
    padding-inline: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .mycontainer {
    max-width: 1440px;
    padding-inline: 70px;
  }
}

.responsive-heading {
  font-size: clamp(3rem, 7vw, 7rem);
  line-height: 1;
  min-height: 80px;
}
