@import 'tailwindcss';

:root {
  /* white color */
  --color-main-white: #f9f9f9;
  --color-white: rgba(255, 255, 255, 0.8);
  --gray-light: rgba(238, 239, 243, 1);
  --gray-dark: rgba(214, 222, 233, 1);


  /* gray color */
  --gray-color-light: rgba(238, 239, 243, 1);
  --gray-color-dark: rgba(214, 222, 233, 1);
  --gray-color-border: rgba(252, 253, 255, 1);
  --gray-color-hover: #bcc4d4;


  /* black color */
  --dark-black-color:#000000;
  --title-black-color: #0c121b;
  --my-color-black: rgba(23, 23, 23, 1);
  --border-color-dark: rgba(45, 45, 45, 0.32);
  --hover-dark: rgba(45, 45, 45, 0.8);
  --shadow-color: rgba(45, 45, 45, 0.24);

  --main-color-light:#00c3ff;
  --second-blue-dark:#60abff;
  --main-dark-hover: #a54be1;
  --purple-accent-dark: #6d03b4;
  /* --second-color-light: rgb(103, 207, 242); */
  /* --main-color-dark: rgba(10, 152, 198, 1); */
  /* --main-light-hover: #00c3ff; */
  /* --yellow-acsent: #fec423; */ 
  /* gradients */
--gradient-color-border:linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
--background-gradient-color: linear-gradient(
    135deg, 
    #C048FF 0%, 
    #6930C3 50%, 
    #3D1D70 100% 
);
  /* background: linear-gradient(
    135deg, 
    #1A237E 0%,     
    #673AB7 50%,    
    #FF4081 100%    
  ); */
/* background: radial-gradient(
    circle at center, 
    #303F9F 0%,     
    #1A237E 50%,    
    #0C0D12 100%    
  ); */
 
 
/* background: linear-gradient(
    145deg, 
    #56CCF2 0%, 
    #A3A7F4 50%, 
    #D0BFF7 100% 
); */

/* background: linear-gradient(
    135deg, 
    #6930C3 0%, 
    #a54be1 50%, 
    #A3A7F4 100%, 
); */
/* --gradient-0: linear-gradient(
  to right,
  #B327BF 0%,
  #6666FF 48%,
  #00C09A 100%
); */


 /* --gradient-dark-circle: radial-gradient(
   circle at center, 
    #D0BFF7 0%, 
    #A3A7F4 25%, 
    #56CCF2 55%, 
    #0C0D12 90% 
  
  ); */
  /* breakpoints */
  --breakpoints-xs: 320px;
  --breakpoints-sm: 375px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1440px;
  --breakpoints-xl: 1540px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
  scroll-behavior: smooth;
}

* {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
button,
select,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat','Inter',  sans-serif;
   /* background: #0b1018;  */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mycontainer {
  width:  100%;  /* min-width: 375px; */
  padding-inline: 20px;
  margin-inline: auto;
}

@media screen and (min-width: 744px) {
  .mycontainer {
    /* width: 744px; */
    padding-inline: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .mycontainer {
    max-width: 1440px;
    padding-inline: 70px;
  }
}

.responsive-heading {
  font-size: clamp(3rem, 7vw, 7rem);
  line-height: 1;
  min-height: 80px;
}


