@import "tailwindcss";

:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(23, 23, 23, 1);
  --main-color-light:rgba(10, 152, 198, 1);
  --main-color-dark: rgb(31, 111, 160);
  --main-light-hover:#00bed6;
  --main-dark-hover:#00a3b6;
  --gray-light: rgba(238, 239, 243, 1);
  --gray-dark: rgba(214, 222, 233, 1);


  --bareackpoints-xs: 320px;
  --berackpoints-sm: 375px;
  

}




/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: Arial, Helvetica, sans-serif;
}
