.section {
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }
  @media (min-width: 1024px) {
    padding: 80px 0px 80px 0px;
  }
}

.title {
  font-family: var(--font-montserrat), sans-serif;
  font-size: clamp(30px, 4.5vw, 62px);
  line-height: 1.1;
  font-weight: 500;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: 744px) {
    line-height: 140%;
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 80px;
  }

  i {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;

    // display: inline-block;
    // padding-right: 0.15em;

    // background: linear-gradient(to right, rgb(128, 0, 128), rgb(200, 100, 200), rgb(255, 192, 203));
    // -webkit-background-clip: text;
    // background-clip: text;
    // color: transparent;
  }
}

// .infoIcon {
//   font-size: 1rem; // робимо іконку меншою відносно тексту
//   cursor: pointer;
//   color: rgba(255, 255, 255, 0.4);
//   margin-left: 10px;
//   transition: all 0.3s ease;
//   vertical-align: middle;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   border: 1px solid rgba(255, 255, 255, 0.2);
//   border-radius: 50%;
//   width: 24px;
//   height: 24px;

//   &:hover {
//     color: #FF9100;
//     border-color: #FF9100;
//     transform: scale(1.1);
//   }
// }

.gridContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 15px;

  @media (min-width: 768px) {
    height: 90vh;
    min-height: 700px;
    gap: 20px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    height: auto;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 768px) {
    height: 100%;
    gap: 20px;

    &:nth-child(odd) {
      .gridItem:nth-child(3n + 1) {
        flex: 2;
      }
      .gridItem:nth-child(3n + 2) {
        flex: 1.2;
      }
      .gridItem:nth-child(3n + 3) {
        flex: 1.5;
      }
    }

    &:nth-child(even) {
      .gridItem:nth-child(3n + 1) {
        flex: 1.2;
      }
      .gridItem:nth-child(3n + 2) {
        flex: 2;
      }
      .gridItem:nth-child(3n + 3) {
        flex: 1.3;
      }
    }
  }
}

.infoIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: 2px solid rgb(200, 100, 200);
  border-radius: 50%;
  color: rgb(255, 192, 203);
  background-color: rgb(128, 0, 128);

  &:hover {
    transform: scale(1.2);
    background-color: rgb(200, 100, 200);
    color: var(--color-white);
  }
}
.dialogBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 12px;
  background: var(--color-white);
  max-width: 500px;
  width: 90%;
  z-index: 1000;
}

.dialog {
  border: none;
  border-radius: 12px;
  padding: 40px;
  background: var(--color-white);
  max-width: 500px;
  width: 90%;
  margin: 20% auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.hedline {
  color: var(--fuchsia-dark-color);
  font-weight: 600;
  font-size: 24px;
}
.line {
  color: var(--fuchsia-dark-color);
  width: 50%;
}
.text {
  margin-top: 20px;
}
.closeBtn {
  font-size: 14px;
  width: 20px;
  height: 20px;
  background-color: var(--fuchsia-dark-color);
}
.gridItem {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);

  @media (max-width: 767px) {
    flex: none;
    aspect-ratio: 16 / 10;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    flex: 1;
  }

  &::after {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 40px;
    height: 40px;
    background: rgba(214, 89, 216, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10%;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 5;
  }

  &:hover {
    transform: scale(0.98);
    &::after {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    .img {
      transform: scale(1.1);
      filter: brightness(1.1) contrast(1.1);
    }
    .overlay {
      opacity: 1;
    }
  }
}

.imgWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.img {
  object-fit: cover;
  transition: transform 0.8s ease;
  border-radius: 12px;
  border: 3px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background: linear-gradient(90deg, #820f84 30%, #48183f 70%);
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(162, 75, 243, 0.6) 0%,
    transparent 60%
  );
  background: linear-gradient(
    to top,
    rgb(130, 15, 132, 0.5) 0%,
    transparent 60%
  );

  display: flex;
  align-items: flex-end;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
  align-items: flex-end;
  justify-content: center;
}

.label {
  color: var(--dark-black-color);
  background-color: #d659d8;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid rgba(166, 59, 238, 0.3);
  text-align: center;
  max-width: 80%;
}

.lightbox {
  position: fixed;
  inset: 0;
  background: linear-gradient(90deg, #820f84 0%, #000 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.lightboxContent {
  position: relative;
  max-width: 90vw;
}

.fullImg {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  color: var(--dark-black-color);
  background-color: var(--fuchsia-dark-color);
  font-size: 35px;
  border: none;
  border-radius: 20%;
  z-index: 5001;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;

  &:hover {
    transform: scale(1.1);
    background-color: var(--color-white);
    box-shadow: 0 15px 35px rgba(186, 12, 230, 0.4);
  }

  @media (max-width: 767px) {
    top: 10px;
    right: 50%;
    transform: translateX(50%);
  }
}
