.wrapTeam {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;

  @media (min-width: 768px) {
    padding: 40px 20px 20px 20px;
  }
  @media (min-width: 1024px) {
    padding: 60px 40px 100px 60px;
  }
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 20px;

  @media (min-width: 768px) {
    padding: 70px 20px 40px;
  }
}

.title {
  font-family: var(--font-cardo), sans-serif;
  font-size: clamp(30px, 4.5vw, 60px);
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.4;
  letter-spacing: 0.04em;
  margin-bottom: 40px;

  gap: 10px;
  margin: 0;

  .accent {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;
  }

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 60px;
  }
}

.contentSection {
  padding: 60px 20px;
  overflow: hidden;

  background: radial-gradient(
    circle at 50% 50%,
    #b107b7 0%,
    #820f84 40%,
    #2a022c 75%,
    #000000 100%
  );

  @media (min-width: 768px) {
    padding: 70px 20px;
  }
  @media (min-width: 1024px) {
    padding: 120px 40px;
  }
}

.cardsWrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 24px;

  & > * {
    width: 100%;
  }

  @media (min-width: 744px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;

    & > * {
      width: calc(50% - 17px);
    }
  }

  @media (min-width: 1440px) {
    gap: 20px;

    & > * {
      width: calc(25% - 15px);
    }
  }
}
