.wrapTeam {
  padding: 40px 20px;

  background: radial-gradient(
    circle at 50% 50%,
    #be06c4 0%,
    #820f84 30%,
    #000000 80%
  );
  // background: radial-gradient(
  //     circle at 50% 50%,
  //    rgba(130, 15, 132, 0.6) 0%,
  //   rgba(130, 15, 132, 0.2) 40%,
  //   transparent 80%
  // );

  @media (min-width: 768px) {
    padding: 70px 20px;
  }
  @media (min-width: 1024px) {
    padding: 70px 40px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.category {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0 40px 70px 40px;
  }

  @media (min-width: 1440px) {
    font-weight: 400;
    font-size: 42px;
    line-height: 140%;
  }
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0;
}
// .title {
//   font-size: 1.5rem;
//   font-weight: bold;
//   text-transform: uppercase;
//   margin: 0 auto;
//   background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
//   -webkit-background-clip: text;
//   background-clip: text;
//   color: transparent;

//   @media (min-width: 744px) {
//     font-weight: 600;
//     margin-bottom: 60px;
//     font-size: 32px;
//     line-height: 140%;
//   }
// }
.title {
  font-family: var(--font-montserrat), sans-serif;
  font-size: clamp(30px, 4.5vw, 62px);
  line-height: 1.1;
  font-weight: 500;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: 744px) {
    line-height: 140%;
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 80px;
  }

  i {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;
    margin-right: 15px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;

  & > * {
    width: 100%;
  }

  @media (min-width: 744px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;

    & > * {
      width: calc(50% - 12px);
    }
  }

  @media (min-width: 1440px) {
    gap: 20px;

    & > * {
      width: calc(25% - 3px);
    }
  }
}
