.wrapTeam {
  padding: 40px 30px;
  // background: radial-gradient(
  //  circle at center, 
  //   #6930C3 5%, 
  //   #a54be1 60%, 
  //   #6de8f5 100%, 
  // );
  background: radial-gradient(
   circle at center, 
     #6de8f5 5%, 
    #a54be1 60%, 
    #08080D 100% 
  );
  background: radial-gradient(
    circle at center, 
    #A341F2 0%, 
    #7e04cf  30%, 
    #08080D 70%  
  );
//  background: radial-gradient(
//     circle at center, 
//     #A341F2 0%, 
//     #451D85 30%, 
//     #08080D 70% 
//   );
  @media (min-width: 768px) {
    padding: 70px 20px;
  }
  @media (min-width: 1024px) {
    padding: 70px 40px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
}
.category {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0 40px 70px 40px;
  }

  @media (min-width: 1440px) {
    font-weight: 400;
    font-size: 42px;
    line-height: 140%;
  }
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0;
}
.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.01em;
 background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  //  background: linear-gradient(135deg,  #00a3b6 25%, #eee5ff 50%, rgb(83, 195, 232, 1) 75%);
  // background-size: 400% 100%;
  // animation: shine 3s linear infinite;

  @media (min-width: 744px) {
    font-weight: 600;
    font-size: 42px;
    line-height: 140%;
  }
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;

  & > * {
    width: 100%;
  }

  @media (min-width: 744px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;

    & > * {
      width: calc(50% - 12px);
    }
  }

  @media (min-width: 1440px) {
    gap: 20px;

    & > * {
      width: calc(25% - 3px);
    }
  }
}
