// .wrapTeam {
//   padding: 40px 20px;
//   position:relative;

//   // background: radial-gradient(
//   //   circle at 50% 50%,
//   //   #be06c4 0%,
//   //   #820f84 30%,
//   //   #000000 80%
//   // );

//   @media (min-width: 768px) {
//     padding: 70px 20px;
//   }
//   @media (min-width: 1024px) {
//     padding: 70px 40px;
//   }
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
// }

// .background {
//   position: absolute;
//    width: 100%;
//     height: 100%;
//   inset: 0;
//   background: url('/background.svg') no-repeat ;
//   background-size:contain;
//   z-index: -1;
//    overflow: hidden;
// }

// .category {
//   padding: 40px 30px;
//   display: flex;
//   flex-direction: column;
//   gap: 40px;
//   align-items: center;

//   @media (min-width: 768px) {
//     padding: 0 40px 70px 40px;
//   }

//   @media (min-width: 1440px) {
//     font-weight: 400;
//     font-size: 42px;
//     line-height: 140%;
//   }
// }

// .headerList {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   gap: 0;
// }
// // .title {
// //   font-size: 1.5rem;
// //   font-weight: bold;
// //   text-transform: uppercase;
// //   margin: 0 auto;
// //   background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
// //   -webkit-background-clip: text;
// //   background-clip: text;
// //   color: transparent;

// //   @media (min-width: 744px) {
// //     font-weight: 600;
// //     margin-bottom: 60px;
// //     font-size: 32px;
// //     line-height: 140%;
// //   }
// // }
// .title {
//   font-family: var(--font-cardo), sans-serif;
//   font-size: clamp(30px, 4.5vw, 60px);
//   font-weight: 600;
//   color: var(--color-white);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 40px;
//   flex-wrap: wrap;
//    line-height: 1.5;
//     letter-spacing: 0.04em;
//   gap: 10px;

//   @media (min-width: 744px) {
//     line-height: 140%;
//     margin-bottom: 60px;
//   }

//   .accent {
//     font-family: var(--font-cardo), serif;
//     font-style: italic;
//     font-weight: 400;
//     margin-right: 15px;
//     line-height: 1.5;
//     letter-spacing: 0.04em;
//   }
// }
// .cardsWrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   gap: 24px;

//   & > * {
//     width: 100%;
//   }

//   @media (min-width: 744px) {
//     flex-direction: row;
//     flex-wrap: wrap;
//     gap: 34px;

//     & > * {
//       width: calc(50% - 12px);
//     }
//   }

//   @media (min-width: 1440px) {
//     gap: 20px;

//     & > * {
//       width: calc(25% - 3px);
//     }
//   }
// }



//  .shadow {
//   position: absolute;
//   background: #a53aed;
//   box-shadow: 0 0 30px 20px #7530a4;
//   filter: blur(50px);
//   z-index: -1;

//   &.shadow1 {
//     top: 100px;
//     right: 80px;
//     width: 150px;
//     height: 150px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }

//   &.shadow2 {
//     bottom: 80px;
//     left: 50px;
//     width: 150px;
//     height: 150px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }

//   &.shadow3 {
//     top: 280px;
//     right: 50%;
//     width: 150px;
//     height: 150px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }
//  }
.wrapTeam {
  display: flex;
  flex-direction: column;
  width: 100%;
   padding: 40px 20px;


 
   
    @media (min-width: 768px) {
    padding: 40px 20px 20px 20px;
  }
  @media (min-width: 1024px) {
    padding: 60px 40px 100px 60px;
  }
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 20px;

  @media (min-width: 768px) {
    padding: 70px 20px 40px;
  }
}

.title {
  font-family: var(--font-cardo), sans-serif;
  font-size: clamp(30px, 4.5vw, 60px);
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.4;
  letter-spacing: 0.04em;
      margin-bottom: 40px;

  gap: 10px;
  margin: 0;

  .accent {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;
  }

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 60px;
  }
}

.contentSection {
  position: relative; 
  padding: 40px 20px;
  overflow: hidden;
    background: radial-gradient(
   circle at 50% 50%,
  #b107b7 0%,
   #820f84 30%,
   #000000 80%
 );

  @media (min-width: 768px) {
    padding: 60px 20px;
  }
  @media (min-width: 1024px) {
    padding: 70px 40px;
  }
}

// .background {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   inset: 0;
//   z-index: 0;
//   pointer-events: none; 

//   background: 
//     url('/background.svg') no-repeat center top;
   
//   background-size: cover;
//   opacity: 0.8;
// }

.cardsWrapper {
  position: relative; 
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 24px;

  & > * {
    width: 100%;
  }

  @media (min-width: 744px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;

    & > * {
      width: calc(50% - 17px); 
    }
  }

  @media (min-width: 1440px) {
    gap: 20px;

    & > * {
      width: calc(25% - 15px); 
    }
  }
}