

.wrapper{
   display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.category {
  padding: 40px  30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  // border-bottom: 1px solid #e9ddce;

  @media (min-width: 768px) {
    padding: 70px 40px;
  }

  @media (min-width: 1440px) {
    // width: 757px;
    font-weight: 400;
    font-size: 42px;
    line-height: 140%;
  }
}

.headerList {
  display: flex;
  // flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0;
}
.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--gray-color-border);
  background: linear-gradient(to left, #ffff1c, #00c3ff);

  


  //  background: linear-gradient(135deg,  #00a3b6 25%, #eee5ff 50%, rgb(83, 195, 232, 1) 75%);
    // background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    // animation: shine 3s linear infinite;

  @media (min-width: 744px) {
    // width: 320px;
    font-weight: 600;
    font-size: 42px;
    line-height: 140%;
  }
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;

  & > * {
    width: 100%;
  }

  @media (min-width: 744px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;

    & > * {
      width: calc(50% - 12px);
    }
  }

  @media (min-width: 1440px) {
    gap: 20px;

    & > * {
      width: calc(25% - 3px);
    }
  }
}
