


.footer {
  border-top: 1px solid rgba(199, 19, 249, 0.263);
  background-color: var(--dark-black-color, #0a0a0a);
  color: var(--gray-text-color);
  padding: 60px 20px;

  @media (min-width: 1024px) {
    padding: 80px 90px;
  }
}

.footerContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: normal;
    gap: 40px 20px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap:20px 20px;
  }
}

.footerLogo {
  display: flex;
  align-items: center;
  gap: 12px;
  order: 1; 

  @media (min-width: 768px) {
    order: 1; 
    width: 100%; 
    justify-content: center;
  }

  @media (min-width: 1024px) {
    order: 2; 
    width: auto;
  }
}

.logoIcon {
  width: 50px;
  height: 50px;
}

.logoText {
  font-family: var(--font-cardo), sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--color-white);
  letter-spacing: 0.1em;
  background: linear-gradient(360deg, #d200da 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.footerNav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 40px;
  order: 2; // second for mobile

  @media (min-width: 768px) {
    order: 1; // first for tablet 
    justify-items: center;
    grid-template-columns: repeat(2, 180px);
  }

  @media (min-width: 1024px) {
    order: 1; // left on desktop
    justify-items: start;
  }
}

.socialWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  order: 3;

  @media (min-width: 768px) {
    order: 2; 
  }

  @media (min-width: 1024px) {
    order: 3; 
    align-items: flex-end;
  }
}

.footerLink {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
  &:hover { color: var(--color-white); }
}

.socialList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  @media (min-width: 768px) { gap: 20px; }
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background: rgba(120, 19, 134, 0.2);
  color: var(--gray-text-color, #808080);
  border: 1px solid rgba(217, 34, 241, 0.2);
  transition: all 0.3s ease;

  svg { width: 22px; height: 22px; fill: currentColor; }
  &:hover {
    background: rgba(165, 75, 225, 0.3);
    transform: translateY(-3px);
    border-color: #6de8f5;
  }

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
    svg { width: 28px; height: 28px; }
  }
}