

.gradientBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.gradientsContainer {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
  position: relative;
}

.gradientsContainer > div {
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.6;
  border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
  background: linear-gradient(
    135deg, 
    rgba(130, 15, 132, 0.9) 0%, 
    rgba(106, 233, 247, 0.6) 100%
  );

  // setting size for devices

 
  width: 200px;
  height: 200px;

  @media screen and (min-width: 768px) {
    width: 350px;
    height: 350px;
  }

  @media screen and (min-width: 1280px) {
    width: 500px;
    height: 500px;
  }
}

.g1 { top: 5%;  left: 15%;  animation: moveRandom 20s infinite alternate; }
.g2 { top: 28%; right: 30%; animation: moveRandom 25s infinite alternate-reverse; }
.g3 { top: 50%; left: 10%;  animation: moveRandom 30s infinite linear; }
.g4 { top: 74%; right: 45%;  animation: moveRandom 22s infinite ease-in-out; }
.g5 { bottom: 5%; left: -5%; animation: moveRandom 28s infinite alternate; }

@keyframes moveRandom {
  0% { transform: translate(0, 0) rotate(0deg) scale(1); }
  50% { transform: translate(10vw, 15vh) rotate(90deg) scale(1.1); }
  100% { transform: translate(-5vw, 25vh) rotate(180deg) scale(0.9); }
}