.list {
  padding: 30px 10px;
}

@media screen and (min-width: 425px) and (max-width: 768.99px) {
  .list {
    padding: 40px 60px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .list {
    padding: 40px 60px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .list {
    padding: 50px 80px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    padding: 60px 120px;
  }
}

.item {
  padding: 18px;
  border-radius: 20px;
  background-color: var(--hover-dark);
  background-color: #1d1d1d;
  // background: linear-gradient(90deg, #7debf2, #60a4ff);
  // border: solid 1px var(--main-light-hover);

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.itemWrapper {
  display: flex;
  gap: 24px;

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    gap: 26px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 20px;
  border: solid 2px var(--main-light-hover);

  @media screen and (min-width: 768px) {
    padding: 10px;
  }

  @media screen and (min-width: 1440px) {
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 50%;
    padding: 10px;
    margin-top: 40px;
  }
}

.contentWrapper {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 28px;
  }
}

.contentWrapper {
  @media screen and (min-width: 1025px) and (max-width: 1439px) {
    padding: 38px;
  }
}

.contentWrapper {
  @media screen and (min-width: 1440px) {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 30px 40px;
  }
}
.image {
  width: 100%;
  height: auto;
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
// ______________

.title {
  margin-bottom: 12px;
  // color: var(--color-main-white);
  font-size: 24px;
  font-weight: 600;
  color: #51b9fd;
 

}
// background: linear-gradient(135deg,  #00a3b6 25%, #eee5ff 50%, rgb(83, 195, 232, 1) 75%);
// background-size: 400% 100%;
// -webkit-background-clip: text;
// background-clip: text;
// color: transparent;
// animation: shine 3s linear infinite;

.role {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-light-hover);
  margin-top: 8px;
}

.description {
  color: var(--color-main-white);
  margin-top: 12px;
}

.linksWrapper {
  display: flex;
  gap: 24px;
  font-weight: 500;
  align-items: flex-end;
  justify-content: flex-end;

  @media screen and (min-width: 1400px) {
    margin-right: 30px;
  }

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    gap: 10px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-main-white);
  gap: 4px;
  // text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;

  &:active,
  &:focus {
    color: var(--main-color-light);
  }

  &:active > .icon,
  &:focus > .icon {
    fill: var(--main-color-light);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--main-color-light);
    }
  }

  &:hover > .icon {
    fill: var(--main-color-light);
  }
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  flex-shrink: 0;
  transition: fill 0.3s ease;
}

.unorderedList {
  list-style: circle;
}

.unorderedList li {
  margin: 10px 0;
  margin-left: 30px;
  text-transform: none;
}

.unorderedList li::marker {
  color: var(--main-color-dark);
  font-weight: bold;
}
