// .shadow {
//   position: absolute;
//   background: #a53aed;
//   box-shadow: 0 0 30px 20px #7530a4;
//   filter: blur(50px);
//   z-index: -1;

//   &.shadow1 {
//     top: 100px;
//     right: 80px;
//     width: 150px;
//     height: 150px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }

//   &.shadow2 {
//     bottom: 50px;
//     left: 80px;
//     width: 150px;
//     height: 150px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }
//   &.shadow4 {
//     bottom: 2950px;
//     left: 100px;
//     width: 150px;
//     height: 150px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }
//   &.shadow3 {
//     top: 2980px;
//     right: 100px;
//     width: 150px;
//     height: 150px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }
// }

.list {
  padding: 30px 10px;
  position: relative;

  @media screen and (min-width: 425px) and (max-width: 768.99px) {
    padding: 40px;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 40px 50px;
  }

  @media screen and (min-width: 1025px) and (max-width: 1439px) {
    padding: 50px 60px;
  }

  @media screen and (min-width: 1440px) {
    padding: 60px 120px;
  }
}
// ____________________________________
// .background {
//   position: absolute;
//    width: 100%;
//     height: 100%;
//   inset: 0;
//   background: url('/background.svg') no-repeat ;
//   background-size:contain;
//   z-index: -1;
//    overflow: hidden;
// }
// __________________________________

.mainTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 40px;
  background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  @media (min-width: 768px) {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    padding-bottom: 60px;
  }
}

.item {
  padding: 18px;
  // border-radius: 40px;
  // background: linear-gradient(145deg, #171123 0%, #0b0b0f 100%);
  // border: 1px solid rgba(143, 110, 197, 0.2);
  // border: 1px solid rgba(143, 110, 197, 0.5);
  // box-shadow: 0 15px 45px rgba(165, 58, 237, 0.6);

  &:not(:last-child) {
    margin-bottom: 24px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 100px;
    }
  }

  @media screen and (min-width: 1024px) {
    &:nth-child(even) {
      .itemWrapper {
        flex-direction: row-reverse;
      }

      .linksWrapper {
        justify-content: flex-start;

        @media screen and (min-width: 1400px) {
          margin-right: 0;
          margin-left: 30px;
        }
      }
    }
  }
}

.itemWrapper {
  display: flex;
  gap: 35px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    align-items: center;
    gap: 60px;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    column-gap: 35px;
  }
}

.imageWrapper,
.contentWrapper {
  @media screen and (min-width: 1024px) {
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 50%;
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 4px;

  border: 2px solid rgba(166, 59, 238, 0.3);
  border: 1px solid rgba(202, 59, 238, 0.3);
  
  position: relative; 
  overflow: hidden; 
   
 &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    height: 4px; 
   
      background: linear-gradient(
  90deg,
  transparent 0%,        
  rgba(72, 24, 63, 0.4) 20%, 
  #820f84 50%,             
  rgba(72, 24, 63, 0.4) 80%, 
  transparent 100%        
);
    }
 &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px; 
       background: linear-gradient(
  90deg,
  transparent 0%,        
  rgba(72, 24, 63, 0.4) 20%, 
  #820f84 50%,             
  rgba(72, 24, 63, 0.4) 80%, 
  transparent 100%        
);
      
    }

  @media screen and (min-width: 1440px) {
    margin-top: 40px;
  }
}

.contentWrapper {
  padding: 10px 10px 5px 10px;

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 28px 28px 20px 28px;
  }
  @media screen and (min-width: 1025px) and (max-width: 1439px) {
    padding: 30px;
  }
  @media screen and (min-width: 1440px) {
    padding: 30px 40px;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.title {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  color:var(--color-white);
  // color:#A45FBE;
  // color:#9153F4;
  // background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  // background: linear-gradient(90deg, #9365db 0%, #74deed 100%);
  // -webkit-background-clip: text;
  // background-clip: text;
  // color: transparent;
}

.role {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  color: var(--light-purple);
}

.description {
  // color: #eae1e1;
  color:rgba(177, 172, 172, 0.7);
  margin-top: 12px;
}


.linksWrapper {
  display: flex;
  gap: 24px;
  font-weight: 500;
  align-items: flex-end;
  justify-content: flex-end;

  @media screen and (max-width: 1439px) {
    gap: 10px;
  }
  @media screen and (min-width: 1400px) {
    margin-right: 30px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-main-white);
  gap: 4px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:active,
  &:focus,
  &:hover {
      color: #9365db;
    .icon {
      fill: #9365db;
      filter: drop-shadow(0 0 5px rgba(165, 75, 225, 0.8));

    }
  }
}

.icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  fill: currentColor;
  transition: fill 0.3s ease;

  @media screen and (min-width: 768px) {
   width: 35px;
  height: 35px;
  }
  @media screen and (min-width: 1024px) {
  width: 42px;
  height: 42px;
  }
}

.wraper {
  display: flex;
  align-items: center;
}
