.list {
  padding: 30px 10px;
}

@media screen and (min-width: 425px) and (max-width: 768.99px) {
  .list {
    padding: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .list {
    padding: 40px 60px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .list {
    padding: 50px 80px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    padding: 60px 120px;
  }
}

.item {
  padding: 18px;
  border-radius: 20px;
  //  background: radial-gradient(
  //   circle at center,
  //   #6d03b4 0%,
  //   #2C1048 50%,
  //   #181825 70%
  // );

  // ___________________________________
  // background: radial-gradient(
  //   circle at center,
  //   #a341f2 0%,
  //   #7e04cf 30%,
  //   #08080d 70%
  // );
  // background: radial-gradient(
  //   circle at center,
  //   #a341f2 0%,
  //   #6d03b4 30%,
  //   #181825 70%
  // );
  // background: radial-gradient(
  //   circle at center,
  //   #7e04cf 0%,
  //   #2C1048 30%,
  //   #08080d 70%
  // );
 
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.itemWrapper {
  display: flex;
  gap: 24px;

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    gap: 26px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    align-items: flex-start;
  }
}
.wraper {
  display: flex;
  align-items: center;
  justify-items: center;
}
.mainTitle {
  // font-size: clamp(20px, 2vw, 28px);
  // line-height: 1.2;
  // letter-spacing: 0.01em;
   font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
   background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @media (min-width: 768px) {
    padding-bottom: 30px;
  }
  @media (min-width: 1024px) {
    padding-bottom: 40px;
  }
}
.imageWrapper {
  @media (min-width: 744px) {
    font-weight: 600;
    font-size: 42px;
   
    line-height: 140%;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 20px;
  // border: solid 2px var(--main-color-light);

  @media screen and (min-width: 768px) {
    padding: 10px;
    
  }
 .list {
  padding: 30px 10px;
}

@media screen and (min-width: 425px) and (max-width: 768.99px) {
  .list {
    padding: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .list {
    padding: 40px 50px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .list {
    padding: 50px 80px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    padding: 60px 120px;
  }
}

.item {
  padding: 18px;
  border-radius: 20px;
  //  background: radial-gradient(
  //   circle at center,
  //   #6d03b4 0%,
  //   #2C1048 50%,
  //   #181825 70%
  // );

  // ___________________________________
  // background: radial-gradient(
  //   circle at center,
  //   #a341f2 0%,
  //   #7e04cf 30%,
  //   #08080d 70%
  // );
  // background: radial-gradient(
  //   circle at center,
  //   #a341f2 0%,
  //   #6d03b4 30%,
  //   #181825 70%
  // );
  // background: radial-gradient(
  //   circle at center,
  //   #7e04cf 0%,
  //   #2C1048 30%,
  //   #08080d 70%
  // );
 
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.itemWrapper {
  display: flex;
  gap: 24px;

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    gap: 26px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    align-items: flex-start;
  }
}
.wraper {
  display: flex;
  align-items: center;
  justify-items: center;
}
.mainTitle {
  // font-size: clamp(20px, 2vw, 28px);
  // line-height: 1.2;
  // letter-spacing: 0.01em;
   font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
   background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @media (min-width: 768px) {
    padding-bottom: 30px;
  }
  @media (min-width: 1024px) {
    padding-bottom: 40px;
  }
}
.imageWrapper {
  @media (min-width: 744px) {
    font-weight: 600;
    font-size: 42px;
   
    line-height: 140%;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 20px;
  // border: solid 2px var(--main-color-light);

  @media screen and (min-width: 768px) {
    padding: 10px;
    
  }
 

  @media screen and (min-width: 1440px) {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 0;
    padding: 10px;
    margin-top: 40px;
  }
}

.contentWrapper {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 28px;
  }
}

.contentWrapper {
  @media screen and (min-width: 1025px) and (max-width: 1439px) {
    padding: 38px;
  }
}

.contentWrapper {
  @media screen and (min-width: 1440px) {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 30px 40px;
  }
}
.image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(186, 12, 230, 0.372);

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
// ______________

.title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  color:var(--second-blue-dark);
  //  background: linear-gradient(to left, #ffff1c, #00c3ff);
  //   -webkit-background-clip: text;
  //   background-clip: text;
  //   color: transparent;
}

.role {
  font-size: 16px;
  font-weight: 500;
  color:var(--second-blue-dark);
  margin-top: 8px;
}

.description {
  color: var(--color-main-white);
  margin-top: 12px;
}

.linksWrapper {
  display: flex;
  gap: 24px;
  font-weight: 500;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;

  @media screen and (min-width: 1400px) {
    margin-right: 30px;
  }

  @media screen and (max-width: 1439px) {
    
    gap: 10px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-main-white);
  gap: 4px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:active,
  &:focus {
    color: var(--main-color-light);
  }

  &:active > .icon,
  &:focus > .icon {
    fill: var(--main-color-light);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--main-color-light);
    }
  }

  &:hover > .icon {
    fill: var(--main-color-light);
  }
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  flex-shrink: 0;
  transition: fill 0.3s ease;
}

.unorderedList {
  list-style: circle;
}

.unorderedList li {
  margin: 10px 0;
  margin-left: 30px;
  text-transform: none;
}

.unorderedList li::marker {
  color: var(--main-color-dark);
  font-weight: bold;
}
// background: linear-gradient(135deg,  #00a3b6 25%, #eee5ff 50%, rgb(83, 195, 232, 1) 75%);
// background-size: 400% 100%;
// -webkit-background-clip: text;
// background-clip: text;
// color: transparent;
// animation: shine 3s linear infinite;
.itemWrapper {
  display: flex;
  gap: 24px;
  flex-direction: column; // За замовчуванням для мобільних

  // Переходимо на горизонтальний вид раніше — з 1024px
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    // align-items: flex-start;
    align-items: center;
    gap: 40px;
  }
}

.item {
  padding: 18px;
  border-radius: 20px;
  
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  // Логіка чергування сторін з 1024px
  @media screen and (min-width: 1024px) {
    &:nth-child(even) {
      .itemWrapper {
        flex-direction: row-reverse;
      }

      // Вирівнюємо лінки по лівому краю для парних карток, 
      // бо текст тепер буде зліва
      .linksWrapper {
        justify-content: flex-start;
        @media screen and (min-width: 1400px) {
          margin-right: 0;
          margin-left: 30px;
        }
      }
    }
  }
}


  @media screen and (min-width: 1024px) {
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 50%;
  }


  @media screen and (min-width: 1440px) {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 0;
    padding: 10px;
    margin-top: 40px;
  }
}

.contentWrapper {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 28px;
  }
}

.contentWrapper {
  @media screen and (min-width: 1025px) and (max-width: 1439px) {
    padding: 38px;
   
  }
}

.contentWrapper {
  @media screen and (min-width: 1440px) {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 30px 40px;
  }
}
.image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(186, 12, 230, 0.372);

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
// ______________

.title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  color:var(--second-blue-dark);
  //  background: linear-gradient(to left, #ffff1c, #00c3ff);
  //   -webkit-background-clip: text;
  //   background-clip: text;
  //   color: transparent;
}

.role {
  font-size: 16px;
  font-weight: 500;
  color:var(--second-blue-dark);
  margin-top: 8px;
}

.description {
  color: var(--color-main-white);
  margin-top: 12px;
}

.linksWrapper {
  display: flex;
  gap: 24px;
  font-weight: 500;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;

  @media screen and (min-width: 1400px) {
    margin-right: 30px;
  }

  @media screen and (max-width: 1439px) {
    
    gap: 10px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-main-white);
  gap: 4px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:active,
  &:focus {
    color: var(--main-color-light);
  }

  &:active > .icon,
  &:focus > .icon {
    fill: var(--main-color-light);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--main-color-light);
    }
  }

  &:hover > .icon {
    fill: var(--main-color-light);
  }
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  flex-shrink: 0;
  transition: fill 0.3s ease;
}

.unorderedList {
  list-style: circle;
}

.unorderedList li {
  margin: 10px 0;
  margin-left: 30px;
  text-transform: none;
}

.unorderedList li::marker {
  color: var(--main-color-dark);
  font-weight: bold;
}
// background: linear-gradient(135deg,  #00a3b6 25%, #eee5ff 50%, rgb(83, 195, 232, 1) 75%);
// background-size: 400% 100%;
// -webkit-background-clip: text;
// background-clip: text;
// color: transparent;
// animation: shine 3s linear infinite;
.itemWrapper {
  display: flex;
  gap: 24px;
  flex-direction: column; // За замовчуванням для мобільних

  // Переходимо на горизонтальний вид раніше — з 1024px
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    // align-items: flex-start;
    align-items: center;
    gap: 40px;
  }
}

.item {
  padding: 18px;
  border-radius: 20px;
  
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  // Логіка чергування сторін з 1024px
  @media screen and (min-width: 1024px) {
    &:nth-child(even) {
      .itemWrapper {
        flex-direction: row-reverse;
      }

      // Вирівнюємо лінки по лівому краю для парних карток, 
      // бо текст тепер буде зліва
      .linksWrapper {
        justify-content: flex-start;
        @media screen and (min-width: 1400px) {
          margin-right: 0;
          margin-left: 30px;
        }
      }
    }
  }
}

.imageWrapper, .contentWrapper {
  @media screen and (min-width: 1024px) {
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 50%;
  }
}