
.list {
  padding: 30px 10px;

  @media screen and (min-width: 425px) and (max-width: 768.99px) {
    padding: 40px;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 40px 50px;
  }

  @media screen and (min-width: 1025px) and (max-width: 1439px) {
    padding: 50px 60px;
  }

  @media screen and (min-width: 1440px) {
    padding: 60px 120px;
  }
}

.mainTitle {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 20px;
  background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  @media (min-width: 768px) {
    padding-bottom: 30px;
  }
  @media (min-width: 1024px) {
    padding-bottom: 40px;
  }
}

.item {
  padding: 18px;
  border-radius: 20px;

  &:not(:last-child) {
    margin-bottom: 24px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 100px;
    }
  }

  @media screen and (min-width: 1024px) {
    &:nth-child(even) {
      .itemWrapper {
        flex-direction: row-reverse;
      }

      .linksWrapper {
        justify-content: flex-start;

        @media screen and (min-width: 1400px) {
          margin-right: 0;
          margin-left: 30px;
        }
      }
    }
  }
}

.itemWrapper {
  display: flex;
  gap: 35px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    align-items: center;
    gap: 60px;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    column-gap: 35px;
   
  }
}

.imageWrapper,
.contentWrapper {
  @media screen and (min-width: 1024px) {
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 50%;
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 4px;
  border-radius: 20px;
  border: 12px solid var(--color-purple);
  // box-shadow: 0 20px 30px -12px var(--color-purple);
  // box-shadow: 0 15px 45px rgba(186, 12, 230, 0.4);


 

  @media screen and (min-width: 1440px) {
    margin-top: 40px;
  }
}

.contentWrapper {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 28px;
  }
  @media screen and (min-width: 1025px) and (max-width: 1439px) {
    padding: 38px;
  }
  @media screen and (min-width: 1440px) {
    padding: 30px 40px;
  }
}

.image {
  width: 100%;
  height: auto;
  // border-radius: 20px;
}

.title {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-purple);
}

.role {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  color:var(--light-purple);
}

.description {
  color: #a1a1aa;
  margin-top: 12px;
}

.linksWrapper {
  display: flex;
  gap: 24px;
  font-weight: 500;
  align-items: flex-end;
  justify-content: flex-end;

  @media screen and (max-width: 1439px) {
    gap: 10px;
  }
  @media screen and (min-width: 1400px) {
    margin-right: 30px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-main-white);
  gap: 4px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:active,
  &:focus,
  &:hover {
    color: var(--main-color-light);
    .icon {
      fill: var(--main-color-light);
    }
  }
}

.icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  transition: fill 0.3s ease;
}

.wraper {
  display: flex;
  align-items: center;
}
