// .shadow {
//   position: absolute;
//   filter: blur(60px);
  
//   background: linear-gradient(90deg, #820f84 0%, #6ae9f7 100%);
//   box-shadow: rgba(130, 15, 132, 0.5);

//   z-index: -1;

//   &.shadow1 {
//     top: 70px;
//     right: 50px;
//     width: 100px;
//     height: 100px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }

//   &.shadow2 {
//     top: 1770px;
//     right: 60px;
//     width: 100px;
//     height: 100px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }
//   &.shadow3 {
//     top: 3370px;
//     right: 180px;
//     width: 100px;
//     height: 100px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }
//   &.shadow4 {
//     bottom: 1980px;
//     left: 90px;
//     width: 100px;
//     height: 100px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }
//   &.shadow5 {
//     bottom: 650px;
//     left: 120px;
//     width: 100px;
//     height: 100px;
//     border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//   }

//   @media screen and (min-width: 768px) {
//     &.shadow1 {
//       top: 450px;
//       right: 180px;
//       width: 150px;
//       height: 150px;
//       border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//     }
//     &.shadow2 {
//       top: 3190px;
//       left: 220px;
//       width: 150px;
//       height: 150px;
//       border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//     }

//     &.shadow3 {
//       top: 4960px;
//       left: 520px;
//       width: 150px;
//       height: 150px;
//       border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//     }
//     &.shadow4 {
//       bottom: 2180px;
//       left: 400px;
//       width: 150px;
//       height: 150px;
//       border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//     }
//     &.shadow5 {
//       bottom: 410px;
//       left: 130px;
//       width: 150px;
//       height: 150px;
//       border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//     }
//   }

//   @media screen and (min-width: 1024px) {
//     &.shadow1 {
//       top: 1900px;
//       right: 700px;
//       width: 200px;
//       height: 200px;
//       border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//     }
//     &.shadow2 {
//       top: 4330px;
//       left: 730px;
//       width: 200px;
//       height: 200px;
//       border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//     }

//     &.shadow3 {
//       display: none;
//     }

//     &.shadow4 {
//       bottom: 530px;
//       left: 700px;
//       width: 200px;
//       height: 200px;
//       border-radius: 40% 70% 60% 45% / 30% 40% 45% 60%;
//     }
//     &.shadow5 {
//       display: none;
//     }
//   }
// }

.list {
  padding: 30px 10px;
  position: relative;
  background: linear-gradient(
        to right, 
        #000000 0%, 
        #000000 45%, 
        rgba(72, 24, 63, 0.4) 65%, 
        #860580 100%
    );
   min-height: 100vh;
 
    
 
  

  @media screen and (min-width: 425px) and (max-width: 768.99px) {
    padding: 20px 45px;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 40px 50px;
  }

  @media screen and (min-width: 1025px) and (max-width: 1439px) {
    padding: 50px 60px;
  }

  @media screen and (min-width: 1440px) {
    padding: 60px 120px;
  }
}

.wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainTitle {
  font-family: var(--font-cardo), sans-serif;
  font-size: clamp(32px, 5vw, 60px);
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 30px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  @media (min-width: 744px) {
    margin-bottom: 40px;
  }

  .accent {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
}
.item {
  padding: 18px;
  
  &:not(:last-child) {
    margin-bottom: 24px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 100px;
    }
  }

  @media screen and (min-width: 1024px) {
    &:nth-child(even) {
      .itemWrapper {
        flex-direction: row-reverse;
      }

      .linksWrapper {
        justify-content: flex-start;

        @media screen and (min-width: 1400px) {
          margin-right: 0;
          margin-left: 30px;
        }
      }
    }
  }
}

.itemWrapper {
  display: flex;
  gap: 35px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    align-items: center;
    gap: 60px;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    column-gap: 35px;
  }
}

.imageWrapper,
.contentWrapper {
  @media screen and (min-width: 1024px) {
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 50%;
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 5px;
  position: relative;
  overflow: hidden;
  border: 1px solid #560957;
  overflow: visible;
  aspect-ratio: 4 / 3;

  &:hover {
    border: 1px solid #c549cb;
    box-shadow:
      0 0 25px 2px rgba(165, 58, 237, 0.7),
      0 0 50px 5px rgba(130, 15, 132, 0.5);
    transform: translateY(-20px) scale(1.04);

    // filter: drop-shadow(0 0 15px rgba(219, 107, 255, 0.4));

    transition:
      transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1),
      box-shadow 0.5s ease;
    will-change: transform;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;

    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(72, 24, 63, 0.4) 15%,
      #820f84 40%,
      #5ec8d3 50%,
      #820f84 75%,
      rgba(72, 24, 63, 0.4) 85%,
      transparent 100%
    );
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    

    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(72, 24, 63, 0.4) 15%,
      #820f84 40%,
      #5ec8d3 50%,
      #820f84 75%,
      rgba(72, 24, 63, 0.4) 85%,
      transparent 100%
    );
  }

  @media screen and (min-width: 1440px) {
    margin-top: 40px;
  }
}

.contentWrapper {
  padding: 10px 10px 5px 10px;

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 28px 28px 20px 28px;
  }
  @media screen and (min-width: 1025px) and (max-width: 1439px) {
    padding: 30px;
  }
  @media screen and (min-width: 1440px) {
    padding: 30px 40px;
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: block;
  z-index: 1;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
  object-fit: cover;
  object-position: center;
}
.titleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.projectIcon {
  flex-shrink: 0;
}
.title {
  font-family: var(--font-montserrat), serif;
  font-weight: 400;
  color: var(--color-white);
  color: #e1dfdf;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-size: 18px;

  

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
  }
}

.role {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  color: #e1dfdf;
  
}

.description {
  color: var(--transparent-gray-text);
  margin-top: 12px;
}

.linksWrapper {
  display: flex;
  gap: 24px;
  font-weight: 500;
  align-items: flex-end;
  justify-content: flex-end;

  @media screen and (max-width: 1439px) {
    gap: 10px;
  }
  @media screen and (min-width: 1400px) {
    margin-right: 30px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-text-color);
  gap: 4px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:active,
  &:focus,
  &:hover {
    color: #820f84;
    .icon {
      fill: #820f84;
      filter: drop-shadow(0 0 5px rgba(199, 19, 249, 0.8));
    }
  }
}

.icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  fill: currentColor;
  transition: fill 0.3s ease;

  @media screen and (min-width: 768px) {
    width: 25px;
    height: 25px;
  }
}

.wraper {
  display: flex;
  align-items: center;
}
