.WrapperService {
  padding: 40px 20px;
  position: relative;

  @media (min-width: 425px) {
    padding: 40px 30px;
  }
  @media (min-width: 768px) {
    padding: 100px 40px;
  }

  @media (min-width: 1024px) {
    padding: 60px;
  }
}
.background {
  position: absolute;
  top: 10px;
  left: 5%;
  width: 150px;
  height: 150px;
  z-index: -1;
  overflow: hidden;

  @media (min-width: 760px) {
    width: 200px;
    height: 200px;
  }
  @media (min-width: 1024px) {
    top: 20%;
    left: 70%;
    width: 250px;
    height: 250px;
  }
    @media (min-width: 1200px) {
       top: 20%;
    left: 90%;
    width: 250px;
    height: 250px;
    }

}
.services {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 768px) {
    align-items: center;
  }
  @media (min-width: 1024px) {
     gap: 190px;
    flex-direction: row;
    align-items: flex-start;
  }
  @media (min-width: 1058px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.leftContent {
  text-align: center;

  @media (min-width: 1024px) {
    position: sticky;
    top: 150px;
    width: 40%;
    text-align: left;
  }
}

.titleWrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.title {
  font-family: var(--font-cardo), sans-serif;
  font-size: clamp(30px, 5vw, 60px);
  font-weight: 600;
  color: var(--color-white);
  text-align: left;
  list-style: 1.5;
  margin-bottom: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  flex-wrap: wrap;

  @media (min-width: 744px) {
    flex-wrap: nowrap;
    letter-spacing: 0.04em;
    margin-bottom: 45px;
  }
  @media (min-width: 1024px) {
    flex-wrap: wrap;
  }

  @media (min-width: 744px) {
    margin-bottom: 40px;
  }

  .accent {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: 4px;
    margin-right: 5px;
    //   display: inline-block;
    //    padding-right: 0.15em;
    //      background: linear-gradient(to right, rgb(128, 0, 128), rgb(200, 100, 200), rgb(255, 192, 203));
    // -webkit-background-clip: text;
    // background-clip: text;
    // color: transparent;
  }
}

.subtitle {
  max-width: 500px;
  font-family: var(--font-inter), sans-serif;
  font-size: clamp(16px, 1.5vw, 18px);
  color: var(--gray-text-color);
  line-height: 1.6;
}
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-top: 40px;

  @media (min-width: 1024px) {
    width: 60%;
    gap: 0;
    margin-top: 40px;
  }
}

.item {
  position: sticky;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #a6a6a6;
  border: 1px solid rgba(109, 6, 141, 0.516);
  border-radius: 12px;
  padding: 4.5rem 2rem 2rem 2rem;
  height: 300px;
  width: 100%;
  margin-bottom: 60px;

  background: linear-gradient(
    90deg,
    rgba(102, 20, 102, 0.95) 0%,
    rgba(30, 5, 35, 0.95) 50%,
    rgba(5, 5, 5, 0.9) 100%
  );

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      #9d139f 80%,
      rgba(37, 20, 25, 0.9) transparent 0%
    );
  }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 200px;
  //   height: 100%;
  //   border-top-right-radius: 12px;
  //   border-bottom-right-radius: 12px;
  //   border-top-left-radius: 50%;
  //   border-bottom-left-radius: 0%;

  //   background: radial-gradient(
  //     ellipse at right center,
  //     rgba(130, 15, 132, 0.6) 0%,
  //     rgba(130, 15, 132, 0.2) 60%,
  //     transparent 80%
  //   );

  //   box-shadow: -10px 0 20px rgba(130, 15, 132, 0.2);
  //   z-index: 0;
  //   pointer-events: none;
  // }
  @media (min-width: 768px) {
    height: 330px;

    width: 500px;
    padding: 3rem 2.5rem 2.5rem 2.5rem;
  }
  @media (min-width: 1024px) {

    width: 520px;
  }
      @media (min-width: 1200px) {
            max-width: 580px;

      }

}

.iconWrapper {
  position: absolute;
  left: 6%;
  top: 14%;
  transform: translateY(-50%);
  z-index: 5;
  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    top: 50%;
    left: 56%;
    width: 100px;
    height: 100px;
  }

  svg {
    color: var(--color-white);
    color: var(--fuchsia-accent-color);

    width: 54px;
    height: 54px;
    @media (min-width: 768px) {
      width: 99px;
      height: 99px;
    }
  }
}
.name {
  font-family: var(--font-montserrat), serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}
.underline {
  width: 90%;
  height: 2px;
  color: var(--gray-text-color);
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  align-items: center;
  color: var(--gray-text-color);
  width: 100%;
  position: relative;
  min-height: 100px;
  z-index: 2;

  &:last-child {
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    max-width: 260px;
    font-size: 1.2rem;
    margin-right: auto;
  }
  @media (min-width: 1024px) {
    max-width: 250px;
  }
  @media (min-width: 1280px) {
    max-width: 270px;
  }
}
.item:nth-child(even) {
  transform: rotate(1deg);
}
.item:nth-child(odd) {
  transform: rotate(-1deg);
}
