

.WrapperService {
  padding: 40px 20px;
  // background-color: #08080d;
// &::before,
//   &::after {
//     content: '';
//     position: absolute;
//     width: 380px;
//     height: 380px;
//     background: radial-gradient(
//       circle,
//       rgba(186, 12, 230, 0.4) 0%,
//       transparent 70%
//     );
//     border-radius: 50%;
//     filter: blur(20px);
//     z-index: 1;
//   }
//   &::after {
//     top: -60px;
//     left: -90px;
//   }
//   &::before {
//     bottom: -60px;
//     right: -80px;
//   }

  @media (min-width: 768px) {
    padding: 100px 40px;
  }

  @media (min-width: 1024px) {
    padding: 100px 80px ;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 768px) {
    align-items:center;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.leftContent {
  text-align: center;

  @media (min-width: 1024px) {
    position: sticky;
    top: 150px;
    width: 40%;
    text-align: left;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  margin: 0 auto;
  background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  

  @media (min-width: 744px) {
    font-weight: 600;
      margin-bottom: 60px;
    font-size: 32px;
    line-height: 140%;
  }
}

.subtitle {
  color: var(--color-main-white);
 font-size: clamp(0.5rem, 2vw, 1.5rem);
  max-width: 550px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  
  @media (min-width: 1024px) {
    width: 60%;
    gap: 0;
    // ___________
    margin-top: 40px;
    padding-bottom: 50px;
  }
}

.item {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
border: 6px solid #5e2a84; 
  background: linear-gradient(135deg, #351b4b 0%, #671d95 40%, #a53aed 100%);
  border-radius: 24px;
 padding: 3rem 2.5rem 2.5rem 2.5rem; 
  min-height: 330px;
  width: 100%;
  margin-bottom: 60px;
 

  &::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
    background: linear-gradient(90deg, #a54be1 0%, #6de8f5 100%);

  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 1;


  }
  @media (min-width: 768px) {
     width: 550px;
  }
  @media (min-width: 1024px) {
     max-width: 580px;
   
  }

 


}

.iconWrapper {
  position: absolute;
  left: 4%; 
  top: 8%;
  transform: translateY(-50%);
  z-index: 5; 
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    top: 50%;
     left: 60%; 
    width: 55px;
  height: 55px;
   
  }
  
  
  svg {
    color: white;
    width: 20px;
    height: 20px;
    @media (min-width: 768px) {
       width: 26px;
    height: 26px;
    }
  }


  
}
.name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #87ceeb; 
  margin: 0 0 10px 0;
  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
      font-size: 1.5rem;

  }
   
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  width:100%;
  position: relative;
  z-index: 2;


  &:last-child {
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
   max-width: 280px;
    margin-right: auto;
  }
  @media (min-width: 1024px) {
   max-width: 250px;
  }
  @media (min-width: 1280px) {
   max-width: 300px;
  }
}
.item:nth-child(even) {
  transform: rotate(1deg);
}
.item:nth-child(odd) {
  transform: rotate(-1deg);
}







