.WrapperService {
  padding: 40px 20px;
  // background-color: #08080d;
  // &::before,
  //   &::after {
  //     content: '';
  //     position: absolute;
  //     width: 380px;
  //     height: 380px;
  //     background: radial-gradient(
  //       circle,
  //       rgba(186, 12, 230, 0.4) 0%,
  //       transparent 70%
  //     );
  //     border-radius: 50%;
  //     filter: blur(20px);
  //     z-index: 1;
  //   }
  //   &::after {
  //     top: -60px;
  //     left: -90px;
  //   }
  //   &::before {
  //     bottom: -60px;
  //     right: -80px;
  //   }

  @media (min-width: 425px) {
    padding: 40px 30px;
  }
  @media (min-width: 768px) {
    padding: 100px 40px;
  }

  @media (min-width: 1024px) {
    padding: 60px 80px 80px 80px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 768px) {
    // gap: 60px;
    align-items: center;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    // gap: 160px;
    align-items: flex-start;
  }
  @media (min-width: 1058px) {
    flex-direction: row;
    // gap: 190px;
    align-items: flex-start;
  }
}

.leftContent {
  text-align: center;

  @media (min-width: 1024px) {
    position: sticky;
    top: 150px;
    width: 40%;
    text-align: left;
  }
}

// .title {
//   font-size: 1.5rem;
//   font-weight: bold;
//   margin-bottom: 30px;
//   text-transform: uppercase;
//   margin: 0 auto;
//   background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
//   -webkit-background-clip: text;
//   background-clip: text;
//   color: transparent;

//   @media (min-width: 744px) {
//     font-weight: 600;
//     margin-bottom: 35px;
//     font-size: 32px;
//     line-height: 140%;
//   }
// }

// .subtitle {
//   max-width: 500px;
//   font-size: clamp(16px, 1.5vw, 18px);
//   color: rgba(255, 255, 255, 0.7);
//   line-height: 1.6;
//   margin-bottom: 40px;
// }
.title {
  font-family: var(--font-montserrat), sans-serif;
  font-size: clamp(32px, 5vw, 60px);
  font-weight: 500;
  line-height: 1.1;
  color: var(--color-white);
  margin-bottom: 30px;
  text-align: left;

  @media (min-width: 744px) {
    margin-bottom: 40px;
  }

  i {
    font-family: var(--font-cardo), serif;
    font-style: italic;
    font-weight: 400;
     line-height: 1.5;
  letter-spacing: 0.03em;

    //   margin-left: 4px;
    //   display: inline-block;
    //    padding-right: 0.15em;
    //      background: linear-gradient(to right, rgb(128, 0, 128), rgb(200, 100, 200), rgb(255, 192, 203));
    // -webkit-background-clip: text;
    // background-clip: text;
    // color: transparent;
  }
}

.subtitle {
  max-width: 500px;
  font-family: var(--font-inter), sans-serif;
  font-size: clamp(16px, 1.5vw, 18px);
  color: var(--gray-text-color);
  line-height: 1.6;
}
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-top: 40px;

  @media (min-width: 1024px) {
    width: 60%;
    gap: 0;
    // ___________
    margin-top: 40px;
    // padding-bottom: 50px;
  }
}

.item {
  position: sticky;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #a6a6a6;
  // border: 1px solid rgba(130, 15, 132, 0.2);
  border: 1px solid rgba(166, 59, 238, 0.3);
  border-radius: 24px;
  padding: 3rem 2.5rem 2.5rem 2.5rem;
  height: 330px;
  width: 100%;
  margin-bottom: 60px;
  // background-color: rgba(37, 20, 25, 0.813);
  background-color: rgba(37, 20, 25, 0.96);
  // box-shadow: 0px 10px 20px rgba(130, 15, 132, 0.2);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      #9d139f 80%,
      rgba(37, 20, 25, 0.9) transparent 0%
    );
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 0%;

    background: radial-gradient(
      ellipse at right center,
      rgba(130, 15, 132, 0.6) 0%,
      rgba(130, 15, 132, 0.2) 60%,
      transparent 80%
    );

    box-shadow: -10px 0 20px rgba(130, 15, 132, 0.2);
    z-index: 0;
    pointer-events: none;
  }
  @media (min-width: 768px) {
    width: 550px;
  }
  @media (min-width: 1024px) {
    max-width: 580px;
  }
}

.iconWrapper {
  position: absolute;
  left: 4%;
  top: 8%;
  transform: translateY(-50%);
  z-index: 5;
  width: 35px;
  height: 35px;
  background: var(--transparent-gray-text);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(255, 255, 255, 0.4);

  @media (min-width: 768px) {
    top: 50%;
    left: 60%;
    width: 55px;
    height: 55px;
  }

  svg {
    color: var(--color-white);
    width: 20px;
    height: 20px;
    @media (min-width: 768px) {
      width: 26px;
      height: 26px;
    }
  }
}
.name {
  font-family: var(--font-cardo), serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin: 0 0 10px 0;
  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: relative;
  min-height: 100px;
  z-index: 2;

  &:last-child {
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    max-width: 260px;
    font-size: 1.2rem;
    margin-right: auto;
  }
  @media (min-width: 1024px) {
    max-width: 250px;
  }
  @media (min-width: 1280px) {
    max-width: 270px;
  }
}
.item:nth-child(even) {
  transform: rotate(1deg);
}
.item:nth-child(odd) {
  transform: rotate(-1deg);
}
