.WrapperService {
  padding: 40px 20px;
  // background-color: #08080d;
  // &::before,
  //   &::after {
  //     content: '';
  //     position: absolute;
  //     width: 380px;
  //     height: 380px;
  //     background: radial-gradient(
  //       circle,
  //       rgba(186, 12, 230, 0.4) 0%,
  //       transparent 70%
  //     );
  //     border-radius: 50%;
  //     filter: blur(20px);
  //     z-index: 1;
  //   }
  //   &::after {
  //     top: -60px;
  //     left: -90px;
  //   }
  //   &::before {
  //     bottom: -60px;
  //     right: -80px;
  //   }

  @media (min-width: 425px) {
    padding: 40px 30px;
  }
  @media (min-width: 768px) {
    padding: 100px 40px;
  }

  @media (min-width: 1024px) {
    padding: 60px 80px 80px 80px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 768px) {
    gap: 60px;
    align-items: center;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 160px;
    align-items: flex-start;
  }
  @media (min-width: 1058px) {
    flex-direction: row;
    gap: 190px;
    align-items: flex-start;
  }
}

.leftContent {
  text-align: center;

  @media (min-width: 1024px) {
    position: sticky;
    top: 150px;
    width: 40%;
    text-align: left;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin: 0 auto;
  background: linear-gradient(360deg, #a54be1 0%, #6de8f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @media (min-width: 744px) {
    font-weight: 600;
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 140%;
  }
}

.subtitle {
  max-width: 500px;
  font-size: clamp(16px, 1.5vw, 18px);
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.6;
  margin-bottom: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-top: 40px;

  @media (min-width: 1024px) {
    width: 60%;
    gap: 0;
    // ___________
    margin-top: 40px;
    // padding-bottom: 50px;
  }
}

.item {
  position: sticky;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #a6a6a6;
  // color: #808080;

  border: 1px solid rgba(130, 15, 132, 0.2);
  border: 1px solid rgba(166, 59, 238, 0.3);
  border-radius: 24px;
  padding: 3rem 2.5rem 2.5rem 2.5rem;
  height: 330px;
  width: 100%;
  margin-bottom: 60px;
  // background-color: rgba(37, 20, 25, 0.813);
  background-color: rgba(37, 20, 25, 0.96);
  // box-shadow: 0px 10px 20px rgba(130, 15, 132, 0.2);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      #9d139f 80%,
      rgba(37, 20, 25, 0.9) transparent 0%
    );
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 0%;

    background: radial-gradient(
      ellipse at right center,
      rgba(130, 15, 132, 0.6) 0%,
      rgba(130, 15, 132, 0.2) 60%,
      transparent 80%
    );

    box-shadow: -10px 0 20px rgba(130, 15, 132, 0.2);
    z-index: 0;
    pointer-events: none;
    // background: linear-gradient(
    //   40deg,
    //   #5a0a5b 0%,
    //   #820f84 50%,
    //   #4a084b 100%
    // );
    //  background: linear-gradient(
    //    75deg,
    //     #820f84  0%,
    //     #5a0a5b 30%,
    //   rgba(72, 24, 63, 0.4) 80%,
    //   );
  }
  @media (min-width: 768px) {
    width: 550px;
  }
  @media (min-width: 1024px) {
    max-width: 580px;
  }
}

.iconWrapper {
  position: absolute;
  left: 4%;
  top: 8%;
  transform: translateY(-50%);
  z-index: 5;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    top: 50%;
    left: 60%;
    width: 55px;
    height: 55px;
  }

  svg {
    color: white;
    width: 20px;
    height: 20px;
    @media (min-width: 768px) {
      width: 26px;
      height: 26px;
    }
  }
}
.name {
  font-size: 1.2rem;
  // font-weight: 700;
  color: #fff;
  margin: 0 0 10px 0;
  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: relative;
  min-height: 100px;
  z-index: 2;

  &:last-child {
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    max-width: 260px;
    font-size: 1.2rem;
    margin-right: auto;
  }
  @media (min-width: 1024px) {
    max-width: 250px;
  }
  @media (min-width: 1280px) {
    max-width: 270px;
  }
}
.item:nth-child(even) {
  transform: rotate(1deg);
}
.item:nth-child(odd) {
  transform: rotate(-1deg);
}
