.WrapperService {
  padding: 40px 30px;
  @media (min-width: 768px) {
    padding: 70px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #76C8FF;

}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--gray-light);

  border-radius: 20px;
  padding: 1.5rem;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #76C8FF;
  padding: 0.25rem;
  border-radius: 50%;
}

.icon {
  color: var(--main-color-dark);
}

.name {
  font-size: 1.25rem;
  font-weight: 600;
}

.description {
  font-size: 1rem;
  color: var(--hover-dark);
}
